<ng-container *ngIf="link; else noLink">
  <a [routerLink]="'/' + link" class="btn-none">
    <div class="feature-box">
        <i class="feature-box__icon icon-basic-world"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">{{ title }}</h3>
        <p class="feature-box__text">{{ description }}</p>
    </div>
  </a>
</ng-container>

<ng-template #noLink>
  <div class="btn-none">
    <div class="feature-box">
        <i class="feature-box__icon icon-basic-world"></i>
        <h3 class="heading-tertiary u-margin-bottom-small">{{ title }}</h3>
        <p class="feature-box__text">{{ description }}</p>
    </div>
  </div>
</ng-template>
