<app-header mainTitle="Perros"
            secondaryTitle="Todo lo que Necesitas Saber" bckColour="dog"></app-header>

<main>

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Encuentra toda la información que necesitas sobre perros, desde cómo elegir la raza perfecta hasta consejos de salud y comportamiento</h2>
  </div>

  <div class="row">
    <p class="paragraph">
      Los perros son más que simples mascotas; son miembros de nuestra familia que nos brindan amor incondicional, compañía y momentos de alegría.
      No importa la raza o el tamaño, cada perro tiene su personalidad única y su forma de expresar su cariño.
      Adoptar un perro es una decisión importante que puede enriquecer nuestras vidas de formas inesperadas.
      Si estás pensando en dar la bienvenida a un perro en tu hogar, estás en el lugar correcto para obtener valiosa información y consejos sobre el cuidado de los perros.
    </p>
  </div>

  <dog-list></dog-list>
  <dog-info></dog-info>
</main>
