<app-header mainTitle="Sobre mí" secondaryTitle="Uniendo Pasiones – Desarrollo Web y Amor por las Mascotas" bckColour="yo"></app-header>

<main class="separate-section">
  <article>
    <div class="flex justify-center align-center u-margin-bottom-small">
      <bg-image-card imageUrl="https://github.com/Totoblak90/miamigoanimal-images1/blob/master/yo-kiwa.webp?raw=true"></bg-image-card>
    </div>

    <p class="paragraph">
      Mi nombre es Tobias Blaksley y soy un apasionado desarrollador web y de machine learning, pero eso es solo una parte de quién soy.
      En mi corazón, soy un verdadero amante de los animales, y me siento afortunado de compartir mi vida con dos maravillosos perros:
      Kiwa, una encantadora beagle de dos años, y Mowgli, un intrépido shiba inu también de dos años. Para mí, son mucho más que mascotas, son parte integral de mi familia.
    </p>

    <p class="paragraph">
      Mi pasión por la tecnología y los animales se ha fusionado de una manera que nunca imaginé.
      Creo firmemente que la inteligencia artificial tiene el potencial de transformar la forma en que interactuamos y cuidamos a nuestras mascotas,
      y eso es precisamente lo que pretendo hacer con este blog. Mi objetivo es utilizar mi experiencia en desarrollo
      y machine learning para crear un espacio informativo y poderoso que proporcionará a las personas todos los recursos y
      conocimientos necesarios para comprender y atender mejor a sus mascotas.
    </p>

    <p class="paragraph">
      <strong>
        Espero que encuentres útil la información que comparto aquí, y que, al igual que yo,
        puedas ver el increíble potencial que la inteligencia artificial tiene para mejorar nuestras vidas y las de nuestras queridas mascotas.
      </strong>
    </p>

    <div class="flex justify-center align-center">
      <bg-image-card imageUrl="https://github.com/Totoblak90/miamigoanimal-images1/blob/master/yo-mowgli.webp?raw=true"></bg-image-card>
    </div>
  </article>
</main>
