<section class="section-dog-breeds">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Razas de perro</h2>
  </div>

  <div class="row">
    <div class="form-container">
      <div class="form-container__form">

        <form class="search row form" [formGroup]="searchDogForm">
          <div class="form__group">
            <label class="form__label">Buscar raza</label>
            <input class="form__input" type="text" placeholder="Buscar raza de perro" formControlName="searchTerm">
          </div>
        </form>

      </div>
    </div>
  </div>


  <div class="grid-4-cols row" *ngIf="!searching">
    <pet-card *ngFor="let dog of dogList" [pet]="dog"></pet-card>
  </div>

  <div *ngIf="searching" class="row flex justify-center align-center">
    <spinner></spinner>
  </div>

  <div class="u-center-text row" *ngIf="errorMessage">
    <h3 class="heading-tertiary">Sin resultados</h3>
  </div>

  <div class="dog-pagination" *ngIf="!searchDogForm.get('searchTerm')?.value">
    <button class="btn btn--green" (click)="prevPage()">&#xab;</button>
    <p class="paragraph u-margin-bottom-none"> {{ currentPage + 1 }} </p>
    <button class="btn btn--green" (click)="nextPage()">&#xbb;</button>
  </div>
</section>
