@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";

.not-on-mobile {
  @include respond(tab-port) {
    display: none;
  }
}

.not-on-desktop {
  @include respond(big-desktop) {
    display: none;
  }
}

.article-sidebar {
  box-shadow: 0 0 1rem 0.5rem rgba($color-grey-dark, 0.3);
  border-radius: 3px;

  h2 {
    font-size: 2.5rem;
  }

  @include respond(tab-port) {
    box-shadow: none;
  }
}
