<main class="separate-section">
  <div class="row">

    <div class="col-3-of-4">

      <social-icons></social-icons>

      <ng-content></ng-content>

      <social-icons></social-icons>

      <hr>

      <span>
        Este artículo fue escrito por una Inteligencia Artificial.
        Aunque no posee emociones ni experiencias personales, esta IA ha sido programada para entender y procesar una gran cantidad de información,
        y utiliza ese conocimiento para generar contenido relevante y útil. Si bien se esfuerza por proporcionar información precisa y actualizada,
        siempre es recomendable consultar con un experto humano cuando sea necesario.
      </span>

    </div>

    <aside class="col-1-of-4 article-sidebar">

      <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary">
          Destacados
        </h2>
      </div>
      <h3 class="heading-tertiary u-margin-bottom-small">
        <a class="btn-text" routerLink="/post/search-post">Ver más &rarr;</a>
      </h3>

      <highlited-articles-for-posts [filters]="filters"></highlited-articles-for-posts>

      <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary">
          Recientes
        </h2>
      </div>
      <h3 class="heading-tertiary u-margin-bottom-small">
        <a class="btn-text" routerLink="/post/search-post">Ver más &rarr;</a>
      </h3>

      <recent-articles-list [filters]="filters"></recent-articles-list>

    </aside>

  </div>

</main>

