@import "../../../../theme/abstracts/mixins";
@import "../../../../theme/abstracts/variables";

.cat-pagination {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}


.cat-breeds-layout {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 2rem;
  column-gap: 3rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
  }
}
