<section class="u-margin-bottom-medium">

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Razas de gato</h2>
  </div>

  <div class="row">
    <div class="form-container">
      <div class="form-container__form">

        <form class="search row form" [formGroup]="searchCatForm">
          <div class="form__group">

            <label class="form__label" for="searchTerm-gatos">Buscar raza</label>
            <input
              class="form__input"
              type="search"
              placeholder="Buscar raza de gato"
              formControlName="searchTerm"
              name="searchTerm-gatos"
              id="searchTerm-gatos"
              autocomplete="off"
            >

          </div>
        </form>

      </div>
    </div>
  </div>

  <div class="cat-pagination u-margin-bottom-big only-mobile">
    <button class="btn btn--green" (click)="prevPage()">&#xab;</button>
    <p class="paragraph u-margin-bottom-none"> {{ currentPage + 1 }} </p>
    <button class="btn btn--green" (click)="nextPage()">&#xbb;</button>
  </div>

  <div class="u-center-text row" *ngIf="errorMessage">
    <h3 class="heading-tertiary">Sin resultados</h3>
  </div>

  <div class="cat-breeds-layout row">
    <ng-container *ngFor="let cat of slicedCatList | keyvalue">
      <flipping-card
        *ngIf="cat && cat.value"
        [cardTitle]="cat.value.name"
        [topics]="cat.value.temperament"
        [href]="['/gatos',  cat.value.id]"
        [queryParams]="{ raza: cat.value.name.split(' ').join('-').toLowerCase() }"
        [defaultRedirect]="false"
        [providedImg]="cat.value.image || ''"
        type="cat"
      >
      </flipping-card>
    </ng-container>
  </div>

  <div class="cat-pagination">
    <button class="btn btn--green" (click)="prevPage()">&#xab;</button>
    <p class="paragraph u-margin-bottom-none"> {{ currentPage + 1 }} </p>
    <button class="btn btn--green" (click)="nextPage()">&#xbb;</button>
  </div>
</section>
