<footer class="footer">
  <!-- <div class="footer__logo-box"> -->

      <!-- <picture class="footer__logo">
          <source srcset="{{ logoUrl }} 4x, {{ logoUrl }} 7x"
                  media="(max-width: 37.5em)">
          <img srcset="{{ logoUrl }} 4x, {{ logoUrl }} 7x" alt="Full logo" [src]="logoUrl">
      </picture> -->

  <!-- </div> -->
  <div class="row">
      <div class="col-1-of-2">
          <div class="footer__navigation">
              <ul class="footer__list">
                  <li class="footer__item"><a routerLink="/sobre-mi" class="footer__link">Sobre mi</a></li>
                  <li class="footer__item"><a routerLink="/politicas" class="footer__link">Políticas de privacidad</a></li>
                  <li class="footer__item"><a routerLink="/terminos" class="footer__link">Términos y condiciones</a></li>
                  <li class="footer__item"><a routerLink="/cookies" class="footer__link">Política de cookies</a></li>
              </ul>
          </div>
      </div>
      <div class="col-1-of-2">
          <p class="footer__copyright">
              ¡Gracias por visitar mi sitio web! Espero que encuentres lo que estás buscando. Tobias Blaksley Iraola
          </p>
      </div>
  </div>

  <div class="row">
    <div class="col-1-of-2">
        <div class="footer__navigation">

          <ul class="footer__list">

            <li class="footer__item u-translate-up-small">
              <a href="https://www.instagram.com/esferamascota/" target="_blank" aria-label="Abrir Instagram de Tobias Blaksley">
                <i class="fa-brands fa-instagram icon"></i>
                <span class="visually-hidden">Abrir Instagram de Esfera Mascota</span>
              </a>
            </li>

            <li class="footer__item u-translate-up-small">
              <a href="https://twitter.com/EsferaMascota" target="_blank" aria-label="Abrir Twitter de Esfera Mascota">
                <i class="fa-brands fa-twitter icon"></i>
                <span class="visually-hidden">Abrir Twitter de Tobias Blaksley</span>
              </a>
            </li>

            <li class="footer__item u-translate-up-small">
              <a href="https://www.facebook.com/profile.php?id=100093419718366" target="_blank" aria-label="Abrir Facebook de Esfera Mascota">
                <i class="fa-brands fa-facebook icon"></i>
                <span class="visually-hidden">Abrir Facebook de Tobias Blaksley</span>
              </a>
            </li>

            <li class="footer__item u-translate-up-small">
              <a href="https://www.linkedin.com/in/tobias-blaksley-5b883753/" target="_blank" aria-label="Abrir Linkeding de Tobias Blaksley, creador de Esfera Mascota">
                <i class="fa-brands fa-linkedin icon"></i>
                <span class="visually-hidden">Abrir Linkeding de Tobias Blaksley</span>
              </a>
            </li>

          </ul>

        </div>
    </div>

    <div class="col-1-of-2">
      <p class="footer__copyright">
        Creado por <a href="https://www.udemy.com/user/jonasschmedtmann/" class="footer__link" target="_blank">Jonas Schmedtmann</a> para su curso online
        <a href="https://www.udemy.com/course/advanced-css-and-sass/" class="footer__link" target="_blank">Advanced CSS and Sass</a>.
        Copyright &copy; by Jonas Schmedtmann.
      </p>
    </div>
  </div>
</footer>
