<section class="section-about-gatos">
  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Información general</h2>
  </div>
  <div class="row">
    <h3 class="heading-tertiary u-margin-bottom-small">Adiestramiento</h3>
    <p class="paragraph">
      Aunque los gatos son conocidos por su independencia, esto no significa que no puedan ser adiestrados.
      De hecho, el adiestramiento puede ser una forma efectiva de enriquecer la vida de tu gato, fortalecer vuestro vínculo y prevenir o solucionar problemas de comportamiento.
      Desde enseñarles a usar el rascador y acudir a la llamada, hasta realizar trucos más complejos, la paciencia y el refuerzo positivo son las claves para adiestrar a tu gato.
      <a href="adiestramiento" class="btn-text">Leer más &rarr;</a>
    </p>
  </div>


  <div class="row">
    <h3 class="heading-tertiary u-margin-bottom-small">Alimentación</h3>
    <p class="paragraph">
      La alimentación es un pilar fundamental en la vida de tu gato. Una dieta balanceada y adecuada a su etapa de vida,
      estilo de vida y estado de salud es esencial para mantener a tu gato saludable y activo.
      Los gatos son carnívoros estrictos, lo que significa que necesitan una dieta rica en proteínas animales.
      La elección entre la comida húmeda y seca depende en gran medida de las preferencias de tu gato y de sus necesidades de salud.
      Recuerda siempre proporcionar agua fresca y limpia para tu gato.
      <a href="alimentacion" class="btn-text">Leer más &rarr;</a>
    </p>
  </div>

  <div class="row">
    <h3 class="heading-tertiary u-margin-bottom-small">Salud felina</h3>

    <p class="paragraph u-margin-bottom-small">
      La salud de tu gato es esencial para asegurar una vida larga y feliz.
      Los chequeos veterinarios regulares son fundamentales para detectar cualquier problema de salud a tiempo.
      La vacunación y la desparasitación también son aspectos importantes de la atención sanitaria preventiva.
      Además, el cuidado dental regular y el mantenimiento de un peso saludable pueden prevenir muchos problemas de salud.
      Finalmente, el enriquecimiento ambiental en el hogar puede contribuir significativamente a la salud mental de tu gato, previniendo el estrés y el aburrimiento.
      <a href="salud" class="btn-text">Leer más &rarr;</a>
    </p>
  </div>

</section>
