<article class="index-container">

  <div class="index-header" (click)="collapsed = !collapsed">

    <h2 class="heading-secondary">Contenidos</h2>

    <i class="fa-solid fa-chevron-down icon" *ngIf="!collapsed"></i>
    <i class="fa-solid fa-chevron-up icon" *ngIf="collapsed"></i>

  </div>

  <div *ngIf="!collapsed" class="index-body">
    <div class="button-container u-margin-bottom-small" *ngFor="let title of titleList; let i = index;">
      <button (click)="scrollTo(title)" class="button" *ngIf="title?.innerText && title.innerText !== 'CONTENIDOS' && !filters.includes(title.innerText)">
        <span class="heading-tertiary">
          &#8226; {{
            title.innerText === 'DESTACADOS' ? 'ARTÍCULOS DESTACADOS' :
            title.innerText === 'RECIENTES' ? 'ARTÍCULOS RECIENTES' :
            title.innerText
           }}
        </span>
      </button>
    </div>
  </div>

</article>
