<header #headerContainerRef class="header" LazyLoadBgImage [lazyLoad]="selectedImage"  [ngClass]="backgroundColour">

  <!-- Para un futuro -->
  <div class="header__search-box" *ngIf="showBuscador">
    <buscador class="header__buscador"></buscador>
  </div>

  <div class="header__social-box" *ngIf="showSocialIcons">
    <social-icons class="header__social-items" [collapsed]="true"></social-icons>
  </div>

  <div class="header__text-box">
      <h1 class="heading-primary">
          <span class="heading-primary--main">{{ mainTitle }}</span>
          <span class="heading-primary--sub">{{ secondaryTitle }}</span>
      </h1>

      <a *ngIf="cta" class="btn btn--white btn--animated">{{ cta }}</a>
  </div>

</header>

