<div class="social-icons-container">

  <a href="https://twitter.com/share?url={{currentUrl}}&text={{description}}&via=tobiblaksley" target="_blank">
    <i class="fa-brands fa-twitter icon"></i>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank">
    <i class="fa-brands fa-facebook icon"></i>
  </a>
  
  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{currentUrl}}&title={{title}}&summary={{description}}&source='Mi amigo animal'" target="_blank">
    <i class="fa-brands fa-linkedin icon"></i>
  </a>

</div>
