@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";


.share-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

span.heading-secondary {
  font-size: calc($default-font-size * 1.5);
}

.social-icons-container {
  z-index: 1000;


  & a:not(:last-child) {
    display: inline-block;
    margin-bottom: calc($gutter-vertical / 2);

    @include respond(tab-port) {
        margin-bottom: calc($gutter-vertical-small / 2);
    }
  }

  & .share-icon-box {
    display: inline-block;
    margin-right: 1rem;
    border-right: 1px solid black;
    z-index: 1000;
  }

}

.fade-in {
  z-index: 1000;
  pointer-events: all;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(2rem);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-out {
  z-index: 1000;
  pointer-events: none;
  animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }

  100% {
    opacity: 0;
    transform: translateY(2rem);
  }
}
