@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";


.share-container {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

span.heading-secondary {
  font-size: calc($default-font-size * 1.5);
}

.social-icons-container {
  z-index: 10;


  & a:not(:last-child) {
    display: inline-block;
    margin-bottom: calc($gutter-vertical / 2);

    @include respond(tab-port) {
        margin-bottom: calc($gutter-vertical-small / 2);
    }
  }

}
