<!-- <div *ngIf="share" class="share-container u-margin-bottom-small">
  <span class="heading-secondary inline-block" [class]="showAltColor ? 'alt-icon-color' : ''">Compartí!</span>
</div> -->

<div class="social-icons-container" *ngIf="collapsed">

  <i *ngIf="!uncollapse" class="fa-solid fa-share icon u-pointer" [class]="showAltColor ? 'alt-icon-color' : ''" (click)="uncollapse = !uncollapse"></i>

  <span *ngIf="uncollapse">

    <a  href="https://twitter.com/share?url={{currentUrl}}&text={{description}}&via=tobiblaksley" target="_blank" rel="nofollow"
        (click)="toggleCollapse($event, 'twitter')" class="fade-in"
    >
      <i class="fa-brands fa-twitter icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
    </a>

    <a  href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank" rel="nofollow"
        (click)="toggleCollapse($event, 'fb')" class="fade-in"
    >
      <i class="fa-brands fa-facebook icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
    </a>

    <a  href="https://www.linkedin.com/shareArticle?mini=true&url={{currentUrl}}&title={{title}}&summary={{description}}&source='Mi amigo animal'"
        target="_blank" rel="nofollow"
        (click)="toggleCollapse($event, 'lkd')" class="fade-in"
    >
      <i class="fa-brands fa-linkedin icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
    </a>

    <a  href="https://www.youtube.com/@ExpertoAnimal"  target="_blank"
        (click)="toggleCollapse($event, 'youtube')" class="fade-in"
    >
      <i class="fa-brands fa-youtube icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
    </a>

    <span class="icon u-pointer" [class]="showAltColor ? 'alt-icon-color' : ''" (click)="uncollapse = false">&times;</span>

  </span>

</div>

<div class="social-icons-container" *ngIf="!collapsed">

  <span class="share-icon-box u-pointer">
    <i class="fa-solid fa-share icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
  </span>

  <a href="https://twitter.com/share?url={{currentUrl}}&text={{description}}&via=tobiblaksley" target="_blank" rel="nofollow">
    <i class="fa-brands fa-twitter icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
  </a>

  <a href="https://www.facebook.com/sharer/sharer.php?u={{currentUrl}}" target="_blank" rel="nofollow">
    <i class="fa-brands fa-facebook icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
  </a>

  <a href="https://www.linkedin.com/shareArticle?mini=true&url={{currentUrl}}&title={{title}}&summary={{description}}&source='Mi amigo animal'" target="_blank" rel="nofollow">
    <i class="fa-brands fa-linkedin icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
  </a>

  <a href="https://www.youtube.com/@ExpertoAnimal"  target="_blank">
    <i class="fa-brands fa-youtube icon" [class]="showAltColor ? 'alt-icon-color' : ''"></i>
  </a>

</div>
