@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";

.image-card {
  background-color: rgba($color-white, .8);
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba($color-black, .15);
  transition: transform .3s;
  width: 300px;
  height: 300px;
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;

  @include respond(tab-port) {
      padding: 2rem;
  }

  &:hover {
      transform: translateY(-1.5rem) scale(1.03);
  }
}
