<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Perros y Gatos en Primer Plano
      </h2>
  </div>

  <div class="row">
      <div class="col-1-of-2">

          <h3 class="heading-tertiary u-margin-bottom-small">Nuestros Fieles Amigos: Los Perros</h3>
          <p class="paragraph">
            Explora nuestra sección dedicada a los perros, esos fieles amigos que nos alegran la vida. Aquí encontrarás desde consejos de adiestramiento,
            hasta reseñas de productos y artículos sobre el cuidado de la salud de tu mascota. <a routerLink="/perros" class="btn-text">Leer más &rarr;</a>
          </p>

          <h3 class="heading-tertiary u-margin-bottom-small">El Encanto Misterioso de los Gatos</h3>
          <p class="paragraph">
            Navega por nuestra categoría de gatos, esos encantadores y misteriosos animales que capturan nuestro corazón.
            Encuentra aquí todo lo que necesitas para entender mejor a tu gato, desde consejos sobre su comportamiento hasta recomendaciones para su bienestar y cuidado
            <a routerLink="/gatos" class="btn-text">Leer más &rarr;</a>
          </p>

      </div>
      <div class="col-1-of-2">
          <div class="composition">
            <img srcset="https://esferamascota.b-cdn.net/gato-en-sillon.webp 300w, https://esferamascota.b-cdn.net/gato-en-sillon.webp 1000w"
                  sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                  alt="Un gato blanco con atigrado recostado en un el brazo de un sillón"
                  class="composition__photo composition__photo--p1"
                  src="https://esferamascota.b-cdn.net/gato-en-sillon.webp"
                  loading="lazy">

            <img srcset="https://esferamascota.b-cdn.net/perro-en-taza.webp 300w, https://esferamascota.b-cdn.net/perro-en-taza.webp 1000w"
                  sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                  alt="Un perro cachorro con pelo negro y marrón dentro de una taza"
                  class="composition__photo composition__photo--p2"
                  src="https://esferamascota.b-cdn.net/perro-en-taza.webp"
                  loading="lazy">

            <img srcset="https://esferamascota.b-cdn.net/gato-negro-en-taza.webp 300w, https://esferamascota.b-cdn.net/gato-negro-en-taza.webp 1000w"
                  sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                  alt="Un gato negro de pelaje corto con las orjeas paradas dentro de un tazón mirando hacia arriba muy concentrado"
                  class="composition__photo composition__photo--p3"
                  src="https://esferamascota.b-cdn.net/gato-negro-en-taza.webp"
                  loading="lazy">
          </div>
      </div>
  </div>
</section>
