<section class="section-about">
  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
        Perros y Gatos en Primer Plano
      </h2>
  </div>

  <div class="row">
      <div class="col-1-of-2">
          <a href="perros" class="btn-plain"><h3 class="heading-tertiary u-margin-bottom-small">Nuestros Fieles Amigos: Los Perros</h3></a>
          <p class="paragraph">
            Explora nuestra sección dedicada a los perros, esos fieles amigos que nos alegran la vida. Aquí encontrarás desde consejos de adiestramiento,
            hasta reseñas de productos y artículos sobre el cuidado de la salud de tu mascota. <a href="perros" class="btn-text">Leer más &rarr;</a>
          </p>

          <a href="gatos" class="btn-plain"><h3 class="heading-tertiary u-margin-bottom-small">El Encanto Misterioso de los Gatos</h3></a>
          <p class="paragraph">
            Navega por nuestra categoría de gatos, esos encantadores y misteriosos animales que capturan nuestro corazón.
            Encuentra aquí todo lo que necesitas para entender mejor a tu gato, desde consejos sobre su comportamiento hasta recomendaciones para su bienestar y cuidado
            <a href="gatos" class="btn-text">Leer más &rarr;</a>
          </p>

      </div>
      <div class="col-1-of-2">
          <div class="composition">
            <a href="gatos">
              <img srcset="https://github.com/Totoblak90/miamigoanimal/blob/master/images/gato-en-sillon.webp?raw=true 300w, https://github.com/Totoblak90/miamigoanimal/blob/master/images/gato-en-sillon.webp?raw=true 1000w"
                   sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                   alt="Un gato blanco con atigrado recostado en un el brazo de un sillón"
                   class="composition__photo composition__photo--p1"
                   src="https://github.com/Totoblak90/miamigoanimal/blob/master/images/gato-en-sillon.webp?raw=true">
            </a>

            <a href="perros">
              <img srcset="https://github.com/Totoblak90/miamigoanimal/blob/master/images/perro-en-taza.webp?raw=true 300w, https://github.com/Totoblak90/miamigoanimal/blob/master/images/perro-en-taza.webp?raw=true 1000w"
                   sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                   alt="Un perro cachorro con pelo negro y marrón dentro de una taza"
                   class="composition__photo composition__photo--p2"
                   src="https://github.com/Totoblak90/miamigoanimal/blob/master/images/perro-en-taza.webp?raw=true">
            </a>

            <a href="gatos">
              <img srcset="https://github.com/Totoblak90/miamigoanimal/blob/master/images/gato-negro-en-taza.webp?raw=true 300w, https://github.com/Totoblak90/miamigoanimal/blob/master/images/gato-negro-en-taza.webp?raw=true 1000w"
                   sizes="(max-width: 56.25em) 20vw, (max-width: 37.5em) 30vw, 300px"
                   alt="Un gato negro de pelaje corto con las orjeas paradas dentro de un tazón mirando hacia arriba muy concentrado"
                   class="composition__photo composition__photo--p3"
                   src="https://github.com/Totoblak90/miamigoanimal/blob/master/images/gato-negro-en-taza.webp?raw=true">
            </a>
          </div>
      </div>
  </div>
</section>
