.u-center-text { text-align: center !important; }


.u-margin-bottom-none { margin-bottom: 0rem !important; }
.u-margin-bottom-small { margin-bottom: 1.5rem !important; }
.u-margin-bottom-medium {
    margin-bottom: 4rem !important;

    @include respond(tab-port) {
        margin-bottom: 3rem !important;
    }
}

.u-margin-bottom-big {
    margin-bottom: 8rem !important;

    @include respond(tab-port) {
        margin-bottom: 5rem !important;
    }
}

.u-margin-bottom-huge {
  margin-bottom: 10rem !important;

  @include respond(tab-port) {
    margin-bottom: 6.5rem !important;
  }
}

.u-margin-bottom-xxl {
  margin-bottom: 8rem !important;

  @include respond(tab-port) {
    margin-bottom: 12rem !important;
  }
}


.u-margin-top-big { margin-top: 8rem !important; }
.u-margin-top-huge { margin-top: 10rem !important; }

.u-margin-right-small { margin-right: 1.5rem; }


.flex { display: flex; }
.align-center { align-items: center; }
.justify-center { justify-content: center; }
.flex-gap-sm { gap: 1rem; }

.color-white { color: $color-white !important; }

.separate-section {
  background-color: $color-grey-light-1;
  padding: 25rem 0 10rem 0;
  margin-top: -20vh;

  @include respond(tab-port) {
      padding: 20rem 0;
  }
}

.inline-block {
  display: inline-block;
}

.alt-icon-color {
  background-image: linear-gradient(to right, $color-grey-dark, $color-grey-dark-3) !important;
}

.u-translate-up-small {
  transition: all 0.3s ease-in;

  &:hover {
    transform: translateY(-1rem) scale(1.03);
  }
}

.u-height-300 {
  height: 300px !important;
}

.u-pointer {
  cursor: pointer;
}
