<section class="u-margin-bottom-big u-margin-top-big">

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">Información general</h2>
  </div>

  <div class="row">
    <h3 class="heading-tertiary u-margin-bottom-small">Adiestramiento</h3>
    <p class="paragraph">
      El adiestramiento canino es esencial para cualquier perro y su dueño.
      No solo ayuda a tu perro a entender las reglas de tu hogar, sino que también puede fortalecer el vínculo entre tú y tu mascota.
      Nuestro objetivo es proporcionarte los mejores consejos y técnicas de adiestramiento de perros para ayudarte a construir una relación de respeto y confianza con tu mascota.
      Ya sea que necesites consejos sobre entrenamiento básico de obediencia, socialización o consejos para problemas específicos de comportamiento,
      nuestro contenido te guiará a través de cada paso del camino.
      <a routerLink="/adiestramiento" class="btn-text">Leer más &rarr;</a>
    </p>
  </div>


  <div class="row">
    <h3 class="heading-tertiary u-margin-bottom-small">Alimentación</h3>
    <p class="paragraph">
      La alimentación de tu perro es un aspecto crítico para mantener a tu mascota feliz y saludable.
      Desde cachorros hasta perros adultos, cada etapa de la vida de un perro tiene requisitos nutricionales específicos que deben cumplirse para su bienestar.
      Aquí, te proporcionaremos la información más reciente y basada en evidencia sobre dietas caninas, alimentos seguros e inseguros para perros,
      y cómo adaptar la alimentación de tu perro a su edad, raza y nivel de actividad.
      <a routerLink="/alimentacion" class="btn-text">Leer más &rarr;</a>
    </p>
  </div>

  <div class="row">
    <h3 class="heading-tertiary u-margin-bottom-small">Salud canina</h3>

    <p class="paragraph u-margin-bottom-small">
      La salud de tu perro es un pilar esencial para garantizar una vida larga y feliz a tu amigo de cuatro patas.
      Desde el cuidado dental hasta el mantenimiento de un peso saludable, cada aspecto del bienestar de tu perro juega un papel vital en su calidad de vida.
      Aquí, te proporcionaremos la información más actualizada y basada en la evidencia sobre los aspectos generales de la salud canina, las señales de alerta de enfermedades comunes,
      cómo prevenir problemas de salud y cómo adaptar los cuidados de tu perro a su edad, raza y estilo de vida.
    </p>

    <p class="paragraph u-margin-bottom-small">
      Los chequeos veterinarios regulares son fundamentales para la salud de tu perro.
      Estas visitas no solo permiten detectar temprano cualquier problema de salud, sino que también brindan la oportunidad de mantener al día las vacunas,
      los desparasitantes y otros tratamientos preventivos.
    </p>

    <p class="paragraph u-margin-bottom-small">
      El ejercicio regular es otra faceta crucial de la salud canina. Ayuda a mantener a tu perro en un peso saludable,
      favorece la salud cardiovascular y la movilidad de las articulaciones, y contribuye a su bienestar mental al brindarle estimulación y entretenimiento.
    </p>

    <p class="paragraph u-margin-bottom-small">
      La salud dental de tu perro también es un aspecto importante a tener en cuenta. La acumulación de placa y sarro puede llevar a enfermedades periodontales,
      que pueden causar dolor, pérdida de dientes e incluso problemas de salud más serios si las bacterias llegan al torrente sanguíneo.
      El cepillado regular y el uso de juguetes y golosinas dentales pueden ayudar a mantener los dientes y las encías de tu perro saludables.
    </p>

    <p class="paragraph u-margin-bottom-small">
      Recuerda que la salud de tu perro es una responsabilidad continua que requiere atención y cuidados.
      Con la información y las herramientas adecuadas, puedes ser un aliado invaluable en el mantenimiento del bienestar de tu perro a lo largo de su vida.
      <a routerLink="/salud" class="btn-text">Leer más &rarr;</a>
    </p>
  </div>

</section>
