<app-navigation></app-navigation>
<router-outlet></router-outlet>
<app-footer></app-footer>
<popup></popup>

<!-- Ya termine todas las páginas principales! Gracias por la ayuda. Ahora me toca hacer el componente más importante del proyecto que es el componente que va a servir como esqueleto de los artículos en si mismos (es decir las entradas del blog) pensemos entre los dos como hacer una entrada de blog muy linda, que linkee a muchos lugares diferentes de la página y cualquier otra cosa que se nos pueda ocurrir. Que ideas se te ocurren? -->
