<ng-container *ngIf="textoCompleto.length > 800; else notExpandable">
  <div class="collapsed-text-container" [class.expanded]="estaExpandido" [style.max-height]="maxHeight" #textoContainer>
    <p class="paragraph" [innerHTML]="textoCompleto"></p>
    <button class="btn btn-text collapsed-text-container__button" (click)="toggleTexto()">
      {{ estaExpandido ? 'Ver menos' : 'Ver más' }}
    </button>
  </div>
</ng-container>
<ng-template #notExpandable>
  <p class="paragraph" [innerHTML]="textoCompleto"></p>
</ng-template>
