// COLORS
$color-cat-light: rgb(211, 211, 211); // Un tono suave de gris (light gray)
$color-cat-dark: rgb(105, 105, 105); // Un tono más oscuro de gris (dim gray)

$color-dog-light: rgb(209, 179, 140); // Un tono suave de marrón (tan)
$color-dog-dark: rgb(139, 69, 19); // Un tono más oscuro de marrón (saddle brown)

$color-health-light: rgb(255, 127, 127); // Un tono suave de rojo para representar la salud
$color-health-dark: rgb(178, 34, 34); // Un tono más oscuro del mismo rojo

$color-food-light: rgb(165, 214, 167); // Un tono suave de verde pastel
$color-food-dark: rgb(102, 187, 106); // Un tono más oscuro de verde pastel

$color-training-light: rgb(173, 216, 230); // Un tono suave de azul (light blue)
$color-training-dark: rgb(0, 0, 205); // Un tono más oscuro de azul (medium blue)


$color-extra: rgb(85, 197, 122);
$color-extra-light: rgb(126, 213, 111);
$color-extra-dark: rgb(40, 180, 133);

$color-grey-light-1: rgb(247, 247, 247);
$color-grey-light-2: rgb(238, 238, 238);

$color-grey-dark: rgb(119, 119, 119);
$color-grey-dark-2: rgb(153, 153, 153);
$color-grey-dark-3: rgb(51, 51, 51);

$color-white: rgb(255, 255, 255);
$color-black: rgb(0, 0, 0);


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
