// COLORS
$color-cat-light: #d3d3d3; // Un tono suave de gris (light gray)
$color-cat-dark: #696969; // Un tono más oscuro de gris (dim gray)

$color-dog-light: #d2b48c; // Un tono suave de marrón (tan)
$color-dog-dark: #8b4513; // Un tono más oscuro de marrón (saddle brown)

$color-health-light: #FF7F7F; // Un tono suave de rojo para representar la salud
$color-health-dark: #B22222; // Un tono más oscuro del mismo rojo

$color-food-light: #98FB98; // Un tono suave de verde (pale green)
$color-food-dark: #228B22; // Un tono más oscuro de verde (forest green)

$color-training-light: #ADD8E6; // Un tono suave de azul (light blue)
$color-training-dark: #0000CD; // Un tono más oscuro de azul (medium blue)


$color-extra: #55c57a;
$color-extra-light: #7ed56f;
$color-extra-dark: #28b485;

$color-grey-light-1: #f7f7f7;
$color-grey-light-2: #eee;

$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;

$color-white: #fff;
$color-black: #000;


// FONT
$default-font-size: 1.6rem;


// GRID
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-vertical-small: 6rem;
$gutter-horizontal: 6rem;
