<app-header mainTitle="Alimento" secondaryTitle="Guía de Alimentación para Perros y Gatos" bckColour="food"></app-header>

<main >
  <section>

    <div class="row">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary u-margin-bottom-small">Encontrá todo lo referente a la alimentación de tu mascota</h2>
        <h3 class="heading-tertiary u-margin-bottom-medium">Aprendé a alimentar a tu mascota de la mejor manera</h3>
        <p class="paragraph">
          La alimentación es uno de los aspectos más importantes en la vida de nuestras mascotas.
          La dieta correcta puede garantizar que nuestros perros y gatos estén sanos, activos y felices.
          En este artículo, exploraremos los fundamentos de la alimentación tanto para perros como para gatos, proporcionándote una guía completa para la nutrición de tu mascota.
        </p>

        <p class="paragraph">
          <strong>
            Recuerda, cada perro y gato es único y puede tener necesidades dietéticas específicas. Siempre es mejor consultar a un veterinario antes de hacer cambios significativos en la dieta de tu mascota.
          </strong>
        </p>
      </div>
    </div>
  </section>

  <section class="u-margin-bottom-big">
    <calculadora-de-raciones></calculadora-de-raciones>
  </section>

  <section class="u-margin-bottom-big">
      <div class="row">

        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">Introducción</h2>
        </div>

        <h3 class="heading-tertiary"> Alimentos comerciales </h3>
        <p class="paragraph">Los alimentos comerciales para perros y gatos son productos manufacturados y procesados que vienen en diferentes formas y presentaciones, como croquetas secas, alimentos húmedos enlatados y alimentos semi-húmedos. Estos productos son formulados para satisfacer las necesidades nutricionales específicas de los perros y gatos en función de su etapa de vida, tamaño y actividad.</p>
        <p class="paragraph">Ventajas de los alimentos comerciales:</p>
        <ol>
          <li>
            <p class="paragraph">
              <strong>Conveniencia:</strong> Los alimentos comerciales son fáciles de almacenar, medir y servir, lo que facilita la alimentación de las mascotas.
            </p>
          </li>
          <li>
            <p class="paragraph">
              <strong>Nutrición balanceada:</strong> La mayoría de los alimentos comerciales están formulados para proporcionar una nutrición completa y balanceada, asegurando que las mascotas reciban todos los nutrientes esenciales.
            </p>
          </li>
          <li>
            <p class="paragraph">
              <strong>Variedad:</strong> Los alimentos comerciales vienen en una amplia variedad de sabores y texturas, lo que puede ayudar a mantener el interés de las mascotas en su dieta.
            </p>
          </li>
        </ol>
      </div>

      <div class="row flex align-center justify-center">
        <bg-image-card imageUrl="https://github.com/Totoblak90/miamigoanimal-images1/blob/master/alimentacion-comercial.webp?raw=true"></bg-image-card>
      </div>

      <div class="row">
        <h3 class="heading-tertiary"> Alimentos crudos (dieta BARF) </h3>
        <p class="paragraph">La dieta BARF (Biologically Appropriate Raw Food) es un enfoque de alimentación para perros y gatos basado en el consumo de alimentos crudos y naturales, como carne, huesos, órganos y vegetales. La idea detrás de la dieta BARF es alimentar a las mascotas con una dieta más cercana a la que sus ancestros salvajes consumían.</p>
        <p class="paragraph">Ventajas de la dieta BARF:</p>
        <ol class="u-margin-bottom-small">
          <li>
            <p class="paragraph">
              <strong>Salud dental:</strong> Los defensores de la dieta BARF argumentan que el consumo de huesos y carne cruda puede ayudar a mantener la salud dental de las mascotas al reducir la acumulación de sarro y placa.
            </p>
          </li>
          <li>
            <p class="paragraph">
              <strong>Mejora del pelaje:</strong> Algunos dueños de mascotas informan que sus perros y gatos tienen un pelaje más brillante y saludable cuando se alimentan con una dieta cruda.
            </p>
          </li>
          <li>
            <p class="paragraph">
              <strong>Menos aditivos:</strong> La dieta BARF no contiene aditivos artificiales, colorantes ni conservantes, lo que puede ser beneficioso para las mascotas con alergias alimentarias o sensibilidades.
            </p>
          </li>
        </ol>

        <p class="paragraph">
          <strong>
            Es importante mencionar que la dieta BARF tiene riesgos asociados, como la contaminación bacteriana y la posibilidad de una dieta desequilibrada si no se formula correctamente. Siempre es recomendable consultar a un veterinario o especialista en nutrición antes de cambiar la dieta de una mascota.
          </strong>
        </p>

        <div class="row flex align-center justify-center">
          <bg-image-card imageUrl="https://github.com/Totoblak90/miamigoanimal-images1/blob/master/alimentacion-barf.webp?raw=true"></bg-image-card>
        </div>
      </div>

  </section>

  <section class="u-margin-bottom-big section-video">
    <bg-video videoSrc="../../../assets/dog-eating.mp4"></bg-video>

    <div class="row">
      <div class="u-center-text u-margin-bottom-big">
        <h2 class="heading-secondary">Alimento para perros</h2>
      </div>
    </div>

    <div class="row flex align-center justify-center">
      <bg-image-card imageUrl="https://github.com/Totoblak90/miamigoanimal-images1/blob/master/alimentacion-cachorros.webp?raw=true"></bg-image-card>
    </div>

    <div class="row">
      <h3 class="heading-tertiary">Alimentos comerciales para perros</h3>
      <p class="paragraph">
        Los alimentos comerciales para perros contienen una mezcla de proteínas, grasas, carbohidratos, vitaminas y minerales que los perros necesitan para una buena salud. Algunas marcas también incluyen ingredientes como probióticos para la salud digestiva, ácidos grasos omega-3 para la salud del pelaje y las articulaciones, y antioxidantes para el sistema inmunológico.
      </p>
    </div>

    <div class="row">
      <h3 class="heading-tertiary">Alimentación cruda y natural para perros</h3>
      <p class="paragraph">
        La dieta BARF para perros generalmente incluye una variedad de carnes crudas, huesos, frutas y verduras, y huevos. Los defensores de la dieta BARF argumentan que esta dieta puede mejorar la salud del pelaje, reducir el mal aliento y las heces, y aumentar la energía. Sin embargo, es importante tener en cuenta que los alimentos crudos pueden presentar un riesgo de enfermedades transmitidas por alimentos, y debe ser preparada y manejada adecuadamente.
      </p>
    </div>


  </section>

  <section class="u-margin-bottom-big section-video">
    <bg-video videoSrc="../../../assets/cat-eating.mp4"></bg-video>

      <div class="row">
        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">Alimento para gatos</h2>
        </div>
      </div>

      <div class="row flex align-center justify-center">
        <bg-image-card imageUrl="https://github.com/Totoblak90/miamigoanimal-images1/blob/master/alimentacion-gato.webp?raw=true"></bg-image-card>
      </div>

      <div class="row">
        <h3 class="heading-tertiary">Alimentos comerciales para gatos</h3>
        <p class="paragraph">
          Los alimentos comerciales para gatos están formulados con un mayor contenido de proteínas que los alimentos para perros, ya que los gatos son carnívoros obligados y necesitan más proteínas en su dieta. Los alimentos comerciales para gatos también contienen taurina, un aminoácido esencial que los gatos no pueden producir por sí mismos y que es vital para la salud del corazón y los ojos.
        </p>
      </div>

      <div class="row">
        <h3 class="heading-tertiary">Alimentación cruda y natural para gatos</h3>
        <p class="paragraph">
          La dieta BARF para gatos se centra en proporcionar una alimentación altamente proteica que se asemeja a su dieta natural. Esta dieta generalmente incluye una variedad de carnes crudas, órganos y huesos pequeños que son seguros para masticar y tragar. Los gatos también pueden beneficiarse de la inclusión de pequeñas cantidades de ciertas verduras y suplementos alimenticios para asegurar que obtengan todos los nutrientes necesarios.
        </p>
      </div>

  </section>

  <section class="u-margin-bottom-big">

    <article>

        <div class="u-center-text u-margin-bottom-medium">
          <h2 class="heading-secondary">Conclusión</h2>
        </div>

        <div class="row">

          <p class="paragraph">
            La alimentación de nuestras mascotas es un tema vasto y complejo.
            Sin embargo, con la investigación adecuada y la asesoría de profesionales,
            podemos proporcionar a nuestros perros y gatos la dieta que necesitan para vivir una vida larga y saludable.
          </p>

          <p class="paragraph">
            <strong>
              Recuerda, cada perro y gato es único y puede tener necesidades dietéticas específicas.
              Siempre es mejor consultar a un veterinario antes de hacer cambios significativos en la dieta de tu mascota.
            </strong>
          </p>

        </div>

    </article>

  </section>
</main>
