<div *ngIf="dog" class="pet-box no-scrollbar" [style.background-image]="backgroundImage" #scrollContainer (mouseenter)="stopScrolling()" (mouseleave)="startScrolling()">
    <h3 class="heading-tertiary u-margin-bottom-small">{{ dog.name }}</h3>

    <div class="pet-box__details u-margin-bottom-medium">
      <ul>
        <li>Peso: {{ dog.weight?.metric }}kg</li>
      </ul>
    </div>

    <div class="pet-box__details u-margin-bottom-medium" *ngIf="dog.height">
      <ul>
        <li>Altura: {{ dog.height.metric }}cm</li>
      </ul>
    </div>

    <div class="pet-box__details u-margin-bottom-medium">
      <ul>
        <p class="paragraph u-margin-bottom-small">Temperamento:</p>
        <li *ngFor="let temp of temperList">{{ temp | translateTemp }}</li>
      </ul>
    </div>

</div>

<div *ngIf="cat" class="pet-box" [style.background-image]="backgroundImage" #scrollContainer (mouseenter)="stopScrolling()" (mouseleave)="startScrolling()">
  <h3 class="heading-tertiary u-margin-bottom-small">{{ cat.name }}</h3>

  <div class="pet-box__details u-margin-bottom-medium">
    <ul>
      <li>Peso: {{ cat.weight?.metric }}kg</li>
    </ul>
  </div>

  <div class="pet-box__details u-margin-bottom-medium">
    <ul>
      <p class="paragraph u-margin-bottom-small">Temperamento:</p>
      <li *ngFor="let temp of temperList">{{ temp | translateTemp }}</li>
    </ul>
  </div>
</div>
