.icon {
  font-size: 4rem;
  display: inline-block;
  background-image: linear-gradient(to right, $color-extra-light, $color-extra-dark);
  -webkit-background-clip: text;
  color: transparent;
  margin-right: 1rem;

  @include respond(tab-port) {
      margin-bottom: 0;
  }
}
