<app-header
  mainTitle="Buscá"
  secondaryTitle="entre todos nuestros artículos sobre mascotas"
  bckColour="default"
></app-header>

<main class="separate-section">

  <div class="u-margin-bottom-big u-center-text">
    <h2 class="heading-secondary">Encontrá lo que estás buscando</h2>
  </div>

  <div class="row">
    <div class="form-container">
      <div class="form-container__form">
        <form class="search row form" [formGroup]="searchForm">

          <div class="form__group">
            <label class="form__label" for="searchTerm">Buscar artículo</label>
            <input class="form__input" type="search" [placeholder]="placeholder" formControlName="searchTerm" id="searchTerm" name="searchTerm" autocomplete="off">
          </div>

          <div class="form__radio-group">
            <input
              type="radio" class="form__radio-input"
              id="razas-search-page" name="searchType"
              formControlName="searchType" value="razas"
            />
            <label for="razas-search-page" class="form__radio-label">
              <span class="form__radio-button"></span> Razas
            </label>
          </div>

          <div class="form__radio-group">
            <input
              type="radio" class="form__radio-input"
              id="articulos-search-page" name="searchType"
              formControlName="searchType" value="articulos"
            />
            <label for="articulos-search-page" class="form__radio-label">
              <span class="form__radio-button"></span> Artículos
            </label>
          </div>

        </form>
      </div>
    </div>
  </div>

  <div class="row" *ngIf="searchForm.get('searchTerm')?.value">
    <h3 class="heading-tertiary">
      Resultados para "<strong>{{ searchForm.get('searchTerm')?.value || '' }}</strong>":
      <span>{{ pagedArticles.length }}</span>
    </h3>
  </div>

  <div class="row">
    <div class="article-pagination">
      <button class="btn btn--green" (click)="previousPage()">&#xab;</button>
      <p class="paragraph u-margin-bottom-none"> {{ currentPage + 1 }} </p>
      <button class="btn btn--green" (click)="nextPage()">&#xbb;</button>
    </div>
  </div>

  <div class="row">
    <div class="search-grid">
      <div *ngFor="let article of pagedArticles">
        <flipping-card
                  [cardTitle]="article.title"
                  [topics]="article.topic"
                  [type]="article.type"
                  [href]="article.href"
                  [defaultRedirect]="article.defaultRedirect"
                  [providedImg]="article.img"
        ></flipping-card>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="article-pagination">
      <button class="btn btn--green" (click)="previousPage()">&#xab;</button>
      <p class="paragraph u-margin-bottom-none"> {{ currentPage + 1 }} </p>
      <button class="btn btn--green" (click)="nextPage()">&#xbb;</button>
    </div>
  </div>

</main>
