<app-header mainTitle="Esfera mascota" secondaryTitle="Guías Detalladas para tus Mascotas"></app-header>

<main>

  <div class="row u-margin-top-medium">
    <p class="paragraph">
      ¡Bienvenidos a Esfera mascota! Este es tu espacio dedicado a brindarte guías detalladas y consejos prácticos para el cuidado y bienestar de tus mascotas.
      Aquí encontrarás una amplia gama de información, desde consejos de salud y nutrición hasta recomendaciones de entrenamiento y
      comportamiento para perros y gatos. Nuestra misión es ayudarte a entender mejor a tus amigos peludos,
      proporcionándote las herramientas que necesitas para cuidarlos de la mejor manera posible.
      Explora nuestras guías, aprende más sobre tus mascotas y conviértete en el mejor amigo que tu animal necesita.
      ¡Acompáñanos en esta aventura llena de amor y respeto por nuestros amigos de cuatro patas!
    </p>
  </div>

  <cats-and-dogs-presentation></cats-and-dogs-presentation>

  <other-categories></other-categories>

  <section class="u-margin-top-huge u-margin-bottom-big">
    <calculadora-de-raciones></calculadora-de-raciones>
  </section>

  <section class="u-margin-bottom-big">

    <clipped-section-with-bg-img selectedBg="train">

      <div class="row">

        <div class="u-center-text u-margin-bottom-big">
          <h2 class="heading-secondary">
              Proximamente...
          </h2>
        </div>

        <div class="grid-3-cols">
          <simple-box title="Comentarios" icon="fa-solid fa-comment" description="¡Una sección para que puedas dejar tus comentarios en los diferentes artículos!"></simple-box>
          <simple-box title="Razas de gato" icon="fa-solid fa-cat" description="Más de 50 páginas con información sobre las distintas razas de gato"></simple-box>
          <simple-box title="Contacto" icon="fa-solid fa-address-book" description="Una sección para que puedas ponerte en contacto con nosotros"></simple-box>
        </div>

      </div>

    </clipped-section-with-bg-img>

  </section>

  <testimonials></testimonials>

  <highlited-articles-section [showAll]="true" spacing="normal"></highlited-articles-section>

  <!-- <div class="u-margin-bottom-small">
    <contact-form></contact-form>
  </div> -->

  <recent-articles-section></recent-articles-section>

</main>
