<app-header
   mainTitle="San Bernardo"
   secondaryTitle="Conoce Todo Acerca del Perro"
   bckColour="dog"
></app-header>

<article-skeleton [filters]="['Perros']">
   <p>
      ¡Hola amantes de las mascotas! En esta ocasión, nos adentraremos en el
      mundo de una raza de perros majestuosa y llena de ternura: el San
      Bernardo. Si estás considerando acoger a uno de estos gigantes peludos en
      tu hogar o simplemente deseas conocer más acerca de ellos, ¡estás en el
      lugar correcto! 
   </p>
   <p>
      El San Bernardo es un perro de gran tamaño, conocido por su amabilidad
      y su paciencia, lo que lo convierte en una excelente opción para familias
      con niños. Pero estas bondadosas criaturas no son solo adorables, también
      tienen una historia fascinante. 
   </p>
   <p>
      Acompáñanos en este viaje para descubrir sus orígenes, sus necesidades de
      <a routerLink="/salud">salud</a> y <a routerLink="/alimentacion"
         >alimentación</a
      >, y lo que necesitas saber para su
      <a routerLink="/adiestramiento">adiestramiento</a>. ¡Prepárate para
      enamorarte aún más de los San Bernardo!
   </p>

   <div class="u-margin-bottom-big u-center-text">
      <h2 class="heading-secondary">San Bernardo - Perros gigantes</h2>
      <iframe-card
         videoId="E7K0LueBN-0"
         videoDescription="San Bernardo - Perros gigantes"
      ></iframe-card>
   </div>

   <div class="u-margin-bottom-big">
      <index></index>
   </div>

   <div class="u-center-text u-margin-bottom-small">
      <h2 class="heading-secondary">Historia de los San Bernardos</h2>
   </div>

   <h2>El origen e historia de los perros San Bernardo</h2>
   <p>
      Los perros San Bernardo son conocidos y queridos en todo el mundo gracias
      a su imponente tamaño, naturaleza amigable y habilidades de rescate. Pero,
      ¿alguna vez te has preguntado de dónde provienen? 
   </p>
   <p>
      La historia de los perros San Bernardo comienza en el siglo XI, en el paso
      alpino de Gran San Bernardo, entre Italia y Suiza. Aquí, los monjes del
      hospicio del Gran San Bernardo comenzaron a criar a estos perros, que
      originalmente se utilizaban para tareas de búsqueda y rescate en la
      nieve. 
   </p>
   <p>
       <strong>Nota interesante:</strong> El nombre <em>San Bernardo</em> no se
      originó hasta el siglo XIX. Antes de esto, la raza se conocía simplemente
      como "perros de los Alpes". 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Fecha</th>
            <th>Evento</th>
         </tr>
         <tr>
            <td>Siglo XI</td>
            <td>
               Los monjes del hospicio del Gran San Bernardo comienzan a criar a
               los perros.
            </td>
         </tr>
         <tr>
            <td>Siglo XIX</td>
            <td>La raza recibe oficialmente el nombre de "San Bernardo"</td>
         </tr>
         <tr>
            <td>1884</td>
            <td>
               El Club Suizo del San Bernardo se funda y se establece el primer
               estándar de la raza.
            </td>
         </tr>
         <tr>
            <td>1887</td>
            <td>El estándar de la raza es revisado y modificado.</td>
         </tr>
      </tbody>
   </table>
   <p>
      Como puedes ver, esta raza tiene una historia rica y fascinante. Si estás
      interesado en saber más sobre otras razas de perros, puedes visitar
      nuestra página de <a routerLink="/perros">perros</a>.
   </p>
   <h2>Características físicas y temperamentales de los perros San Bernardo</h2>
   <p>
      Si alguna vez has visto la película ‘Beethoven’, entonces ya conoces al
      perro San Bernardo. Estos perros son conocidos por sus grandes cuerpos
      y corazones aún más grandes. Son leales, cariñosos y poseen una paciencia
      infinita, lo que los hace excelentes compañeros de familia. Pero, ¿qué
      hace que un San Bernardo sea un San Bernardo? Vamos a profundizar un poco
      más en sus características físicas y temperamentales. 
   </p>
   <h3>Características físicas </h3>
   <p>
      Los perros San Bernardo son cazadores de tamaño gigante, con machos que
      pueden llegar a pesar hasta 120 kg y medir hasta 90 cm de altura, mientras
      que las hembras pueden rondar los 80 kg y medir hasta 70 cm. Su pelaje es
      denso, diseñado para resistir las duras condiciones de montaña, y puede
      ser de color rojo con blanco o un revés de estos colores. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Características físicas</th>
            <th>Macho</th>
            <th>Hembra</th>
         </tr>
         <tr>
            <td>Peso</td>
            <td>Hasta 120 kg</td>
            <td>Hasta 80 kg</td>
         </tr>
         <tr>
            <td>Altura</td>
            <td>Hasta 90 cm</td>
            <td>Hasta 70 cm</td>
         </tr>
         <tr>
            <td>Color del pelaje</td>
            <td colspan="2">Rojo con blanco o viceversa</td>
         </tr>
      </tbody>
   </table>
   <h3>Temperamento </h3>
   <p>
      En cuanto a su temperamento, los San Bernardo son gentiles, amables y muy
      protectores. Son especialmente buenos con los niños y suelen llevarse bien
      con otros animales, lo que los convierte en excelentes
      <a routerLink="/perros">perros</a> de familia. Sin embargo, su tamaño
      significa que necesitan mucho espacio para moverse y ejercitarse.
      <a routerLink="/adiestramiento">Adiestrarlos</a> desde una edad temprana
      ayudará a asegurar que crezcan para ser perros bien ajustados y felices. 
   </p>
   <p>
      Estos gigantes gentiles son conocidos por su paciencia y amor
      incondicional. Sin embargo, debido a su gran tamaño, requerirán visitas
      regulares al veterinario y un
      <a routerLink="/salud">seguimiento de su salud</a>. Además, necesitarán
      una <a routerLink="/alimentacion">alimentación adecuada</a> para
      mantener su tamaño y energía. Al final del día, un San Bernardo es un
      perro lleno de amor que sólo quiere ser parte de la familia.
   </p>
   <h2>Cómo elegir al perro San Bernardo adecuado para ti y tu familia</h2>
   <p>
      ¡Hola, amante de las mascotas! Estás a un paso de agregar un nuevo miembro
      a tu familia, un adorable perro San Bernardo. Estos gigantes gentiles son
      conocidos por su amabilidad y paciencia, lo que los hace perfectos para
      familias con niños. Pero, antes de traer a casa a tu nuevo amigo, hay
      algunas cosas que debes considerar. 
   </p>
   <p>
      <strong>El tamaño importa:</strong> Los perros San Bernardo son grandes,
      muy grandes. Crecen hasta un tamaño promedio de 70 a 90 cm y pueden pesar
      entre 64 y 120 kg. Asegúrate de que tienes suficiente espacio en tu casa
      para acomodar a estos gigantes. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Altura</th>
            <th>Peso</th>
         </tr>
         <tr>
            <td>70-90 cm</td>
            <td>64-120 kg</td>
         </tr>
      </tbody>
   </table>
   <p>
      Los San Bernardos son perros activos y necesitan ejercicio regular para
      mantenerse saludables. Puedes leer más sobre su salud y sus necesidades de
      ejercicio en nuestra <a routerLink="/salud">sección de salud</a>. 
   </p>
   <p>
      <strong>Personalidad:</strong> Los San Bernardos son perros amigables
      y amantes de la diversión. Son pacientes, lo cual es una gran ventaja si
      tienes niños pequeños. Sin embargo, debido a su tamaño, pueden ser un poco
      torpes, por lo que es importante tener un lugar seguro para ellos en tu
      casa. 
   </p>
   <p>
      <strong>Alimentación:</strong> Como cualquier perro, los San Bernardos
      tienen necesidades dietéticas específicas. Necesitan una dieta balanceada
      con la cantidad adecuada de proteínas, grasas y carbohidratos. Puedes
      encontrar más detalles sobre su alimentación en nuestra
      <a routerLink="/alimentacion">sección de alimentación</a>. 
   </p>
   <p>
      Recuerda, adoptar a un perro es un compromiso de por vida. Asegúrate de
      estar listo para el desafío y el amor incondicional que estos gigantes
      peludos traerán a tu vida. ¡Buena suerte en tu viaje!
   </p>
   <h2>
      Preparación del hogar y los cuidados necesarios antes de adoptar un perro
      San Bernardo
   </h2>
   <p>
      Adoptar un perro San Bernardo no es una tarea menor. Estos majestuosos
      perros de tamaño gigante necesitan un hogar que se ajuste a sus
      necesidades. Así que, antes de llevar uno a casa, aquí hay algunas cosas
      que debes considerar. 
   </p>
   <h3> Espacio </h3>
   <p>
      Los San Bernardos son perros grandes que necesitan mucho espacio para
      moverse. Si vives en un apartamento pequeño o no tienes un jardín amplio,
      puede que no sea la mejor opción para ti. Recuerda, un perro feliz es un
      perro que tiene suficiente espacio para estirarse y jugar. 
   </p>
   <h3>Alimentación </h3>
   <p>
      Los San Bernardos necesitan una dieta balanceada y nutritiva para
      mantenerse saludables. En nuestro sitio, puedes encontrar más información
      sobre la
      <a routerLink="/alimentacion"
         >alimentación adecuada para los perros San Bernardo</a
      >. 
   </p>
   <h3>Adiestramiento </h3>
   <p>
      Estos perros son conocidos por su naturaleza amigable y pacífica, pero aún
      así, requieren de adiestramiento adecuado desde una edad temprana. Echa un
      vistazo a nuestra sección de
      <a routerLink="/adiestramiento">adiestramiento de perros</a> para
      obtener consejos y trucos útiles. 
   </p>
   <h3>Salud </h3>
   <p>
      Los San Bernardos son generalmente perros sanos, pero también pueden ser
      propensos a ciertas condiciones de salud. Asegúrate de revisar nuestra
      página de <a routerLink="/salud">salud canina</a> para conocer más sobre
      estos temas. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Cuidados</th>
            <th>Recomendaciones</th>
         </tr>
         <tr>
            <td>Ejercicio</td>
            <td>
               Los San Bernardos necesitan ejercicio regular, pero no intenso.
               Unas pocas caminatas al día deberían ser suficientes.
            </td>
         </tr>
         <tr>
            <td>Socialización</td>
            <td>
               Asegúrate de socializar a tu San Bernardo desde una edad temprana
               con otros perros y personas.
            </td>
         </tr>
         <tr>
            <td>Aseo</td>
            <td>
               Estos perros tienen un pelajeeso esp que requiere cepillado
               regular para mantenerse limpio y saludable.
            </td>
         </tr>
      </tbody>
   </table>
   <p>
      En resumen, adoptar un San Bernardo puede ser una experiencia maravillosa
      y gratificante si estás bien preparado. ¿Listo para el desafío?
   </p>
   <h2>La alimentación adecuada para tu perro San Bernardo</h2>
   <p>
      Para mantener saludable a tu San Bernardo, una alimentación equilibrada es
      fundamental. Al ser perros de gran tamaño, sus necesidades nutricionales
      son diferentes a las de razas más pequeñas. 
   </p>
   <p>
      En general, los San Bernardos adultos deben comer entre 4 y 6 tazas de
      alimento seco de alta calidad cada día, dividido en dos comidas. Evita la
      sobrealimentación para prevenir la obesidad y otros problemas de salud. 
   </p>
   <h3>¿Qué debe contener su comida? </h3>
   <p>
      Al seleccionar el alimento para tu San Bernardo, busca opciones que
      contengan: 
   </p>
   <ul>
      <li>Proteínas de alta calidad, como carne o pescado</li>
      <li>Grasas saludables, como las del aceite de pescado o de linaza</li>
      <li>
         Carbohidratos complejos, como los que se encuentran en los granos
         enteros
      </li>
      <li>Fibras para promover una digestión saludable</li>
      <li>
         Vitaminas y minerales para mantener su sistema inmunológico fuerte
      </li>
   </ul>
   <p>
      Los cachorros de San Bernardo tienen necesidades dietéticas específicas
      y requieren más calorías y nutrientes para su crecimiento rápido.
      Asegúrate de alimentarlos con un alimento especial para cachorros de razas
      grandes. 
   </p>
   <h3>Una nota sobre la hidratación </h3>
   <p>
      Los San Bernardos también necesitan mucha agua fresca y limpia disponible
      en todo momento. Asegúrate de que su tazón de agua nunca esté vacío para
      mantenerlos bien hidratados. 
   </p>
   <p>
      Para más información sobre la alimentación de tu perro, visita nuestra
      sección de <a routerLink="/alimentacion">alimentación</a>. 
   </p>
   <h3>Dietas especiales </h3>
   <p>
      Algunos San Bernardos pueden necesitar dietas especiales debido a alergias
      alimentarias, problemas de salud o preferencias personales. Siempre
      consulta a tu veterinario antes de hacer cambios en la dieta de tu perro. 
   </p>
   <p>
      Recuerda que una buena <a routerLink="/salud">salud</a> comienza con una
      buena alimentación. Tu San Bernardo te lo agradecerá.
   </p>
   <h2>La importancia del ejercicio físico en los perros San Bernardo</h2>
   <p>
       buenos amantes de las mascotas, sabemos que cada raza tiene sus
      particularidades y el San Bernardo no es la excepción. Esta raza de
      perros, conocida por su tamaño grande y su carácter amigable, requiere de
      una rutina de ejercicio adecuada para mantenerse saludable.
   </p>
   <p>
      <strong
         >El ejercicio físico juega un papel fundamental en la vida de un San
         Bernardo. No solo ayuda a mantener su peso bajo control, sino que
         también contribuye a su bienestar emocional. Recuerda, un perro feliz
         es un perro sano.</strong
      >
   </p>
   <p>
      Debido a su gran tamaño, los San Bernardos requieren de espacios amplios
      para moverse. Sin embargo, también es importante recordar que no son
      perros de alta energía, por lo que una caminata diaria será suficiente.
      Evita las altas temperaturas y el ejercicio extenuante, ya que pueden ser
      perjudiciales para su salud. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Edad</th>
            <th>Recomendación de ejercicio</th>
         </tr>
         <tr>
            <td>Cachorro (hasta 1 año)</td>
            <td>Juegos suaves y paseos cortos</td>
         </tr>
         <tr>
            <td>Adulto (1-8 años)</td>
            <td>1-2 caminatas diarias y juegos moderados</td>
         </tr>
         <tr>
            <td>Senior (+8 años)</td>
            <td>
               Paseos cortos y tiempo de juego ligero según su nivel de energía
            </td>
         </tr>
      </tbody>
   </table>
   <p>
      Además de las caminatas, los juegos de búsqueda pueden ser una excelente
      opción para los San Bernardos. Este tipo de actividades estimulan su mente
      y les permiten quemar energía de forma segura. Asimismo, la
      <a routerLink="/adiestramiento">formación de obediencia</a> puede ser
      una excelente manera de hacer ejercicio y fortalecer el vínculo con tu
      mascota. 
   </p>
   <p>
      Recuerda, antes de iniciar cualquier rutina de ejercicio, es importante
      consultar con un veterinario. Ellos podrán darte la mejor orientación de
      acuerdo a la edad, salud y nivel de energía de tu San Bernardo. Para más
      información sobre la salud de los perros, te invitamos a visitar nuestra
      sección de <a routerLink="/salud">salud canina</a>.
   </p>
   <h2>Cómo adiestrar a tu perro San Bernardo de forma efectiva</h2>
   <p>
      El San Bernardo es un perro encantador, conocido por su gentileza
      y docilidad. Sin embargo, como cualquier otra raza de perro, necesita un
      adiestramiento adecuado para mantener un comportamiento saludable
      y equilibrado. Aquí te presentamos algunos consejos para adiestrar a tu
      San Bernardo de manera efectiva. 
   </p>
   <h3>1. Socialización temprana </h3>
   <p>
      Al igual que con cualquier raza de perro, la socialización temprana es
      crucial para los San Bernardo. Exponer a tu cachorro a una variedad de
      personas, lugares y situaciones puede ayudar a evitar problemas de
      comportamiento en el futuro. Puedes encontrar más información sobre esto
      en nuestra sección de
      <a routerLink="/adiestramiento">adiestramiento</a>. 
   </p>
   <h3>2. Adiestramiento en obediencia </h3>
   <p>
      Debido a su gran tamaño y fuerza, es fundamental que los San Bernardo sean
      adiestrados en obediencia desde una edad temprana. Esto incluye comandos
      básicos como "sentado", "quieto" y "aquí". 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Comando</th>
            <th>Descripción</th>
         </tr>
         <tr>
            <td>Sentado</td>
            <td>
               El perro debe sentarse y permanecer quieto hasta que se le dé el
               siguiente comando.
            </td>
         </tr>
         <tr>
            <td>Quieto</td>
            <td>
               El perro debe detenerse y no moverse hasta recibir la siguiente
               orden.
            </td>
         </tr>
         <tr>
            <td>Aquí</td>
            <td>El perro debe venir hacia ti cuando se le llame.</td>
         </tr>
      </tbody>
   </table>
   <h3>3. Refuerzo positivo </h3>
   <p>
      El refuerzo positivo, como elogios y golosinas, puede ser una herramienta
      muy eficaz para adiestrar a tu San Bernardo. Recuerda siempre recompensar
      a tu perro inmediatamente después de que realice el comportamiento
      deseado. Para más consejos sobre cómo alimentar correctamente a tu perro,
      visita nuestra sección de
      <a routerLink="/alimentacion">alimentación</a>. 
   </p>
   <h3>4. Ejercicio regular </h3>
   <p>
      Los San Bernardo son perros activos que necesitan ejercicio regular para
      mantenerse saludables y felices. Un paseo diario puede ayudar a prevenir
      problemas de comportamiento y a mantener a tu perro en forma. Consulta
      nuestra sección de <a routerLink="/salud">salud</a> para obtener más
      consejos sobre cómo mantener a tu perro sano.
   </p>
   <h2>
      Cuidados de higiene y salud para mantener a tu perro San Bernardo en
      óptimas condiciones
   </h2>
   <p>
      Si estás pensando en acoger a un San Bernardo en tu hogar, es esencial que
      conozcas los aspectos básicos de su cuidado y salud. Este perro gigante
      requiere atención especial, especialmente en lo que se refiere a su
      higiene y salud. 
   </p>
   <h3>Higiene del San Bernardo </h3>
   <p>
      El perro San Bernardo tiene un pelaje denso y grueso que necesita cuidado
      regular. Se recomienda un cepillado semanal para mantener su pelaje limpio
      y libre de enredos. Durante los períodos de muda, puede ser necesario
      cepillar a tu perro diariamente para controlar el pelo suelto. 
   </p>
   <p>
      Los baños regulares también son esenciales para mantener a tu San Bernardo
      limpio y saludable. Sin embargo, debido a su tamaño, puede que necesites
      la ayuda de un profesional. Recuerda siempre utilizar productos de higiene
      específicos para perros, ya que los productos para humanos pueden ser
      perjudiciales para su piel. <a routerLink="/salud">Aquí</a> puedes
      encontrar más información sobre los productos de higiene adecuados para tu
      mascota. 
   </p>
   <h3>Salud del San Bernardo </h3>
   <p>
      Los San Bernardos son perros generalmente saludables, pero como todas las
      razas, pueden ser susceptibles a ciertas condiciones de salud. Algunas de
      estas condiciones pueden incluir displasia de cadera, problemas cardíacos
      y enfermedades de la piel. Es vital que tu San Bernardo reciba chequeos
      veterinarios regulares para detectar cualquier posible problema de salud
      a tiempo. 
   </p>
   <p>
      Además, la alimentación juega un papel crucial en la salud de tu perro.
      Los San Bernardos necesitan una dieta equilibrada y nutritiva para
      mantener su peso saludable y prevenir enfermedades. Puedes aprender más
      sobre la alimentación adecuada para los San Bernardos
      <a routerLink="/alimentacion">aquí</a>. 
   </p>
   <p>
      Finalmente, el ejercicio regular es fundamental para mantener a tu San
      Bernardo en forma y saludable. A pesar de su tamaño, los San Bernardos son
      perros activos que necesitan ejercicio diario. Sin embargo, debido a su
      tamaño, estos ejercicios deben ser de bajo impacto para proteger sus
      articulaciones.
   </p>
   <p>
      Recuerda, un perro feliz y saludable es un perro que se siente amado
      y cuidado. Por lo tanto, siempre es esencial proporcionar a tu San
      Bernardo el amor y la atención que necesita.
   </p>
   <h2>
      Cómo socializar a tu perro San Bernardo para llevarlo a diferentes lugares
   </h2>
   <p>
      Si tienes un San Bernardo, sabrás que su tamaño puede ser un tanto
      intimidante para algunos. Pero aquí está la buena noticia: estos gigantes
      amables son en realidad perros muy sociables y amigables, perfectos para
      llevar a diferentes lugares. Sigue leyendo para descubrir cómo puedes
      ayudar a tu peludo amigo a convertirse en el alma de la fiesta. 
   </p>
   <h3>1. Comienza temprano </h3>
   <p>
      La socialización de cualquier perro, incluido el San Bernardo, debe
      comenzar desde una edad temprana. Cuando son cachorros, están más abiertos
      a nuevas experiencias y encuentros. Asegúrate de presentarle a tu cachorro
      a diferentes personas, lugares, sonidos y situaciones para que crezca
      siendo un perro seguro y bien adaptado. 
   </p>
   <h3>2. Exposición gradual </h3>
   <p>
      No querrás abrumar a tu San Bernardo con demasiadas experiencias nuevas
      a la vez. Comienza llevándolo a lugares tranquilos y poco concurridos,
      y gradualmente aumenta la cantidad de estímulos a medida que se sienta más
      cómodo. 
   </p>
   <h3>3. Enseñar comandos básicos </h3>
   <p>
      Antes de llevar a tu San Bernardo a lugares concurridos, debes asegurarte
      de que entienda y obedezca los
      <a routerLink="/adiestramiento">comandos básicos</a>. Esto incluye
      "sentado", "quieto" y "vamos", que ayudará a mantenerlo bajo control en
      situaciones nuevas y potencialmente estresantes. 
   </p>
   <h3>4. Uso de recompensas </h3>
   <p>
      Usa golosinas, juguetes y elogios como recompensas para reforzar el buen
      comportamiento durante la socialización. Si tu San Bernardo se comporta
      bien en una situación nueva, asegúrate de recompensarlo para que asocie la
      experiencia con cosas positivas. 
   </p>
   <h3>5. Controlar la salud de tu San Bernardo </h3>
   <p>
      Asegúrate de que tu San Bernardo esté al día con sus vacunas y chequeos de
      <a routerLink="/salud">salud</a> antes de llevarlo a lugares donde
      podría entrar en contacto con otros perros. También es importante que esté
      alimentado con una dieta nutritiva y balanceada para mantener su
      <a routerLink="/salud">salud</a> en óptimas condiciones. 
   </p>
   <p>
      Recuerda, la socialización de tu San Bernardo tomará tiempo y paciencia,
      pero con amor y dedicación, estarás en camino de tener un perro feliz
      y bien adaptado a diferentes ambientes y situaciones.
   </p>
   <h2>Enfermedades comunes en los perros San Bernardo y cómo prevenirlas</h2>
   <p>
      El San Bernardo es una raza canina que, aunque se caracteriza por su
      resistencia y fortaleza, también puede ser propenso a ciertas enfermedades
      específicas. Conocer estas enfermedades y cómo prevenirlas puede ser
      crucial para mantener a tu San Bernardo sano y feliz. 
   </p>
   <p>
      En primer lugar, es importante mencionar que el San Bernardo puede ser
      propenso a la <strong>Displasia de Cadera</strong>, una enfermedad
      genética que afecta a la articulación de la cadera. Si bien es algo común
      en perros grandes, una nutrición adecuada y ejercicio regular pueden
      ayudar a prevenirla. Puedes conocer más sobre esto en nuestra sección de
      <a routerLink="/salud">salud</a>. 
   </p>
   <blockquote>
      Nota: La prevención es siempre la mejor medicina. Así que, asegúrate de
      llevar a tu San Bernardo a chequeos regulares con el veterinario y de
      mantenerlo activo y bien alimentado.
   </blockquote>
   <p>
      Otra enfermedad común en los San Bernardos es el
      <strong>Entropión</strong>, una condición en la que el párpado se pliega
      hacia adentro, causando irritación en el ojo. Si bien puede requerir una
      intervención quirúrgica, un diagnóstico temprano puede contribuir a un
      mejor pronóstico. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Enfermedad</th>
            <th>Prevención</th>
         </tr>
         <tr>
            <td>Displasia de cadera</td>
            <td>Nutrición adecuada y ejercicio regular</td>
         </tr>
         <tr>
            <td>Entropión</td>
            <td>Diagnóstico temprano y posible intervención quirúrgica</td>
         </tr>
      </tbody>
   </table>
   <p>
      Finalmente, la <strong>Obesidad</strong> es un problema que puede afectar
      a los San Bernardos debido a su gran tamaño y apetito. Para prevenirlo, es
      esencial que aprendas más sobre la
      <a routerLink="/alimentacion">alimentación</a> adecuada para tu perro
      y que te asegures de que haga ejercicio regularmente. 
   </p>
   <p>
      Recuerda, la mejor manera de cuidar a tu mascota es a través de la
      prevención. Así que, haz todo lo posible para conocer las posibles
      enfermedades que pueden afectar a tu San Bernardo y cómo puedes ayudar
      a prevenirlas.
   </p>
   <h2>
      Cómo lidiar con los problemas de comportamiento en los perros San Bernardo
   </h2>
   <p>
      Aunque los perros San Bernardo son conocidos por su carácter amigable
      y tranquilo, no están exentos de desarrollar algunos problemas de
      comportamiento. Al igual que en cualquier otra raza, estos problemas
      pueden ser el resultado de una mala socialización, falta de entrenamiento,
      o incluso problemas de salud. 
   </p>
   <p>
      Uno de los problemas más comunes en los San Bernardo es la ansiedad por
      separación. Este problema puede manifestarse de varias formas, como
      ladridos excesivos, masticación destructiva o incluso intentos de escapar.
      Para solucionarlo, es importante establecer una rutina clara
      y proporcionar suficiente ejercicio y estimulación mental. Puedes
      encontrar más información sobre cómo lidiar con la ansiedad por separación
      en nuestra sección de
      <a routerLink="/adiestramiento">adiestramiento</a>. 
   </p>
   <p>
      Otro problema común es la agresión. Aunque los San Bernardo son
      generalmente perros amigables, pueden desarrollar comportamientos
      agresivos si no se socializan adecuadamente. Este comportamiento puede ser
      especialmente problemático debido al gran tamaño de estos perros. Puedes
      obtener más información sobre cómo socializar a tu perro en nuestra
      sección de <a routerLink="/perros">perros</a>. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Problema de comportamiento</th>
            <th>Solución recomendada</th>
         </tr>
         <tr>
            <td>Ansiedad por separación</td>
            <td>
               Establecer una rutina clara, proporcionar suficiente ejercicio y
               estimulación mental
            </td>
         </tr>
         <tr>
            <td>Agresión</td>
            <td>Socialización adecuada</td>
         </tr>
      </tbody>
   </table>
   <p>
      Recuerda siempre que los problemas de comportamiento pueden ser un
      indicativo de problemas de salud. Si notas algún cambio en el
      comportamiento de tu San Bernardo, te recomendamos que lo lleves al
      veterinario para descartar cualquier problema de salud subyacente. Para
      más información sobre la salud de tu San Bernardo, puedes visitar nuestra
      sección de <a routerLink="/salud">salud</a>.
   </p>
   <h2>El perro San Bernardo como mascota en el hogar</h2>
   <p>
      Si estás considerando agregar un nuevo miembro a tu familia,
      <strong>el perro San Bernardo</strong> puede ser una opción encantadora.
      Conocidos por su naturaleza gentil y su cariño hacia los niños, estos
      gigantes gentiles se adaptan bien a la vida familiar. 
   </p>
   <p>
      Sin embargo, como todas las mascotas, los San Bernardo tienen sus propias
      necesidades y características únicas que debes tener en cuenta antes de
      tomar tu decisión. A continuación, te presentamos algunos puntos clave
      a considerar: 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Aspectos</th>
            <th>Detalles</th>
         </tr>
         <tr>
            <td>Tamaño</td>
            <td>
               Los San Bernardo son perros grandes, que pueden alcanzar hasta 90
               cm de altura y pesar entre 64 y 120 kg.
            </td>
         </tr>
         <tr>
            <td>Ejercicio</td>
            <td>
               Requieren ejercicio moderado, por lo que es importante tener un
               espacio adecuado para que se muevan.
            </td>
         </tr>
         <tr>
            <td>Alimentación</td>
            <td>
               Debido a su tamaño, estos perros pueden consumir una gran
               cantidad de alimentos.
               <a routerLink="/alimentacion">Aquí</a> puedes encontrar más
               información sobre la alimentación de los perros.
            </td>
         </tr>
         <tr>
            <td>Salud</td>
            <td>
               Al igual que otros perros de raza grande, los San Bernardo pueden
               ser propensos a ciertas condiciones de salud. Puedes aprender más
               sobre estas condiciones en nuestra sección de
               <a routerLink="/salud">salud</a>.
            </td>
         </tr>
         <tr>
            <td>Entrenamiento</td>
            <td>
               Los San Bernardo son inteligentes y ansiosos por complacer, lo
               que puede facilitar su
               <a routerLink="/adiestramiento">adiestramiento</a>. Sin
               embargo, su tamaño puede presentar desafíos únicos.
            </td>
         </tr>
      </tbody>
   </table>
   <p>
      Los San Bernardo son perros amistosos y leales, que pueden ofrecer mucho
      amor y compañía a sus dueños. Asegúrate de considerar cuidadosamente tus
      propias circunstancias y las necesidades de estos perros antes de decidir
      llevar uno a casa.
   </p>
   <h2>Curiosidades y datos interesantes sobre los perros San Bernardo</h2>
   <p>
      Los perros San Bernardo, conocidos por su apariencia majestuosa y su
      actitud calmada, están llenos de curiosidades que hacen que esta raza sea
      aún más fascinante. Aquí te presentamos algunos datos interesantes sobre
      estos gigantes gentiles. 
   </p>
   <h3>Origen Suizo </h3>
   <p>
      El San Bernardo es originario de los Alpes suizos e italianos.
      <strong>Fueron criados originalmente por monjes</strong> en el Gran San
      Bernardo, un paso en la frontera entre Suiza e Italia. Su trabajo
      principal era el de perros de rescate, salvando viajeros que se habían
      perdido o quedado atrapados en la nieve. 
   </p>
   <h3>Rescatistas Notables </h3>
   <p>
       <em
         >Barry, el más famoso de los perros San Bernardo, es conocido por haber
         salvado la vida de 40 a 100 personas</em
      >
      en el paso del Gran San Bernardo. Hay una estatua en su honor en el Museo
      de Historia Natural de Berna en Suiza. 
   </p>
   <h2>Conclusión</h2>
   <p>
      En resumen, el perro San Bernardo es una raza maravillosa, llena de amor
      y lealtad. Su nobleza y paciencia los convierten en excelentes compañeros
      de vida, haciéndolos ideales para familias y especialmente para aquellos
      hogares con niños. 
   </p>
   <p>
      Su salud y felicidad son prioridades importantes y requieren atención
      continua. Desde una
      <a routerLink="/alimentacion">alimentación balanceada</a> hasta chequeos
      regulares con el veterinario, debes estar dispuesto a invertir tiempo
      y esfuerzo en el bienestar de tu San Bernardo. 
   </p>
   <table border="0">
      <tbody>
         <tr>
            <th>Pros</th>
            <th>Contras</th>
         </tr>
         <tr>
            <td>Amigables y leales</td>
            <td>Requieren mucho espacio</td>
         </tr>
         <tr>
            <td>Buenos con niños</td>
            <td>Esperanza de vida más corta</td>
         </tr>
         <tr>
            <td>Fáciles de entrenar</td>
            <td>Requieren mucho ejercicio</td>
         </tr>
      </tbody>
   </table>
   <p>
      Además, no debemos olvidar que estos gigantes amables necesitan
      <a routerLink="/adiestramiento">adiestramiento</a> y socialización desde
      temprana edad para asegurar que crezcan siendo perros equilibrados
      y amigables. 
   </p>
   <p>
      Si estás considerando adoptar o comprar un perro San Bernardo, asegúrate
      de estar completamente preparado para satisfacer sus necesidades y darle
      todo el amor y cuidado que merece. Recuerda, un perro es un compromiso de
      por vida. 
   </p>
   <p>
      Así que, si estás listo para la aventura de tener un San Bernardo,
      bienvenido al club. Estamos seguros de que encontrarás en él a un amigo
      fiel y amoroso.
   </p>
</article-skeleton>
