<clipped-section-with-bg-img selectedBg="default" skewSide="up">

  <div class="row">
      <simple-box class="col-1-of-4 btn-none"
                  link="adiestramiento" title="ADIESTRAMIENTO" description="Tácticas y técnicas para un adiestramiento efectivo y amable.">
      </simple-box>

      <simple-box class="col-1-of-4 btn-none"
                  link="alimentacion" title="ALIMENTACIÓN" description="Descubre la dieta ideal para el bienestar total de tu mascota.">
      </simple-box>

      <simple-box class="col-1-of-4 btn-none"
                  link="salud" title="SALUD" description="Consejos esenciales para mantener a tu mascota enérgica y saludable.">
      </simple-box>

      <simple-box class="col-1-of-4 btn-none"
                  link="sobre-mi" title="SOBRE MÍ" description="Conoce a Tobias Blaksley, el apasionado guía detrás de MiAmigoAnimal.">
      </simple-box>
  </div>

</clipped-section-with-bg-img>
