<main class="separate-section">
  <div class="row">

    <div class="col-3-of-4">

      <ng-content></ng-content>
      <hr>
      <span>
        Este artículo fue escrito por una Inteligencia Artificial.
        Aunque no posee emociones ni experiencias personales, esta IA ha sido programada para entender y procesar una gran cantidad de información,
        y utiliza ese conocimiento para generar contenido relevante y útil. Si bien se esfuerza por proporcionar información precisa y actualizada,
        siempre es recomendable consultar con un experto humano cuando sea necesario.
      </span>
    </div>

    <div class="col-1-of-4">

      <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary">
          Destacados
        </h2>
      </div>
      <h3 class="heading-tertiary u-margin-bottom-small">
        <a class="btn-text" href="post/search-post">Ver más &rarr;</a>
      </h3>

      <highlited-articles-for-posts [filters]="filters"></highlited-articles-for-posts>

      <div class="u-center-text u-margin-bottom-small">
        <h2 class="heading-secondary">
          Recientes
        </h2>
      </div>
      <h3 class="heading-tertiary u-margin-bottom-small">
        <a class="btn-text" href="post/search-post">Ver más &rarr;</a>
      </h3>

      <last-articles-for-posts [filters]="filters" [type]="type"></last-articles-for-posts>

    </div>

  </div>

</main>

