@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";

.progress-bar {
  display: inline-block;
  width: 100%;
  height: 2rem;
  background-color: $color-grey-light-1;
  border-radius: 5px;
  box-shadow: 0 1px 3px rgba(0, 0, 0, .2);
}

.progress {
  display: inline-block;
  height: 2rem;
  background-image: linear-gradient( to right, rgba($color-dog-light, 1), rgba($color-dog-dark, 1));
  border-radius: 5px;

  &__0 { width: 0%; }
  &__20 { width: 20%; }
  &__25 { width: 25%; }
  &__33 { width: 33%; }
  &__40 { width: 40%; }
  &__50 { width: 50%; }
  &__60 { width: 60%; }
  &__66 { width: 66%; }
  &__75 { width: 75%; }
  &__80 { width: 80%; }
  &__100 { width: 99%; }

}

.navigation {

  @include respond(tab-port) {
      width: 100%;
      text-align: center;
  }

  &__list {
    list-style: none;
  }

  &__item {
      display: inline-block;

      &:not(:last-child) {
          margin-right: 1.5rem;
      }

      &:last-child {
        display: block;
      }
  }

  &__link {
      &:link,
      &:visited {
          color: $color-grey-dark;
          text-decoration: none;
          text-transform: uppercase;
          display: inline-block;
          transition: all .2s;
          word-break: break-all;
      }

      &:hover,
      &:active {
          color: $color-grey-dark-3;
          font-weight: 700;
          box-shadow: 0 1rem 2rem rgba($color-black, .4);
      }
  }
}

.grid-breeds {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 5rem;

  @include respond(tab-port) {
    grid-template-columns: 1fr;
    row-gap: 2rem;
    column-gap: 0;
  }
}

.breed-image-container {
  max-width: 100%;
  margin: auto;
  text-align: center;
  overflow: hidden;
  border-radius: 5px;

  &__img {
    max-width: 30rem;
    height: auto;
    border-radius: 5px;
    box-shadow: 0 1px 3px rgba($color-black, .2);
    margin: auto;
  }
}
