<div class="u-center-text u-margin-bottom-medium">
  <h2 class="heading-secondary">Preguntas frecuentes</h2>
</div>

<div class="row color-white">

  <div class="col-1-of-2">
    <div class="u-center-text u-margin-bottom-medium" (click)="toggleAnimation('faqs1')">
      <button class="faqs-button">
        <h3 class="heading-tertiary">{{ faqs1Title }}</h3>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
    </div>
    <div #elFaqs1 *ngIf="mostrarFaqs1"  [class.fade-in]="mostrarFaqs1" [class.fade-out]="startFadeOutAnimation1">
      <accordion [faq]="faqs1"></accordion>
    </div>
  </div>

  <div class="col-1-of-2">
    <div class="u-center-text u-margin-bottom-medium" (click)="toggleAnimation('faqs2')">
      <button class="faqs-button">
        <h3 class="heading-tertiary">{{ faqs2Title }}</h3>
        <i class="fa-solid fa-chevron-down"></i>
      </button>
    </div>
    <div  #elFaqs2 *ngIf="mostrarFaqs2"  [class.fade-in]="mostrarFaqs2" [class.fade-out]="startFadeOutAnimation2">
      <accordion [faq]="faqs2"  ></accordion>
    </div>
  </div>

</div>
