<div class="open-searchbox" [class.show]="collapsed" (click)="searchInputGlobalForm.focus(); uncollapse($event);">
  <button class="btn btn--plain" aria-label="Buscar">
    <i class="fa-solid fa-magnifying-glass"></i>
  </button>
</div>


<form class="search row form" [class.show]="!collapsed" [formGroup]="searchArticlesForm">
  <!-- Input texto -->
  <div class="form__group">
    <label class="form__label" for="searchTerm-global">Buscar artículo</label>
    <input #searchInputGlobalForm  class="form__input" type="search" placeholder="Buscar"
            formControlName="searchTerm-global" id="searchTerm-global"
            name="searchTerm-global" autocomplete="off"
            (keyup.enter)="onKeyUpEnter()"
    >
  </div>

  <!-- Radio buttons -->
  <div class="form__group radio-buttons-container">

    <div class="form__radio-group">
      <input
        type="radio" class="form__radio-input"
        id="razas" name="searchType"
        formControlName="searchType" value="razas"
      />
      <label for="razas" class="form__radio-label">
        <span class="form__radio-button"></span> Razas
      </label>
    </div>

    <div class="form__radio-group">
      <input
        type="radio" class="form__radio-input"
        id="articulos" name="searchType"
        formControlName="searchType" value="articulos"
      />
      <label for="articulos" class="form__radio-label">
        <span class="form__radio-button"></span> Artículos
      </label>
    </div>

  </div>

  <!-- Resultados de búsqueda -->
  <div class="search-results" [class.show]="searchResults.length" >

    <ul *ngIf="searchResults.length; else noResults">
      <li *ngFor="let result of searchResults">
        <img *ngIf="result.img" [src]="result.img | cleanImageUrl" alt="Imagen de {{ result.title }}" class="search-results__img">
        <a class="btn-plain" [routerLink]="result.url" [queryParams]="result.queryParams" (click)="collapse($event)">{{ result.title }}</a>
      </li>
    </ul>

    <ng-template #noResults>
      <p class="search-results__no-results paragraph" (click)="uncollapse($event)">No se han encontrado resultados</p>
    </ng-template>
  </div>

</form>


