
<div class="disclaimer-container">
  <div class="row">
    <h2 class="heading-tertiary u-margin-bottom-medium">Descargo de responsabilidad y política de cookies</h2>
    <h3 class="heading-tertiary u-margin-bottom-small">
      Importante &ndash; Leer antes de ingresar a la página
    </h3>
    <p class="paragraph">
      El contenido de esta página, generado por IA y revisado por expertos, es información general.
      Consulte con un profesional antes de tomar decisiones basadas en nuestra información.
      La salud de su mascota debe ser supervisada por un profesional.
      Este sitio utiliza cookies para mejorar su experiencia de navegación y para recopilar datos analíticos.
      Haga clic en el enlace para obtener más información sobre nuestra <a href="cookies" target="_blank">política de cookies</a>.
      <br>
      <strong>
        Si continúa navegando, está dando su consentimiento para la aceptación de estas cookies y la aceptación de nuestra política de cookies
        y que ha leído y comprendido este descargo de responsabilidad.
      </strong>.
    </p>
    <div class="buttons-container">
      <button class="btn btn--green" (click)="disclaimerAccepted.emit(true)">Aceptar</button>
      <a routerLink="/gestionar-cookies" class="btn btn--white" (click)="navigatedToManageCookies.emit(true)">Administrar cookies</a>
    </div>
  </div>
</div>


