<div #popupDisclaimer class="popup" id="popup-disclaimer">
  <div class="popup__content">
    <div class="popup__right">
      <h2 class="heading-secondary u-margin-bottom-small">Descargo de responsabilidad</h2>
      <h3 class="heading-tertiary u-margin-bottom-small">
        Importante &ndash; Leer antes de ingresar a la página
      </h3>
      <p class="popup__text">
        El contenido de esta página es generado por inteligencia artificial y, aunque es revisado por profesionales en el área, debe ser tomado únicamente como información general.
        Siempre recomendamos consultar con un profesional adecuado, como un veterinario o adiestrador, antes de tomar cualquier decisión basada en la información presentada aquí.
        La salud y el bienestar de su mascota siempre deben ser supervisados por un profesional.
      </p>
      <button (click)="saveLocalhost()" class="btn btn--green">Aceptar</button>
    </div>
  </div>
</div>
