@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";

.section-clipped-with-bg-img {
  padding: 20rem 0;

  background-size: cover;
  margin-top: -10rem;

  @include respond(tab-port) {
      padding: 10rem 0;
  }

}

.bg-cat {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-cat-light, 0.8),
      rgba($color-cat-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal-images1/blob/master/clipped-section-cat.webp?raw=true);
}

.bg-dog {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-dog-light, 0.8),
      rgba($color-dog-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal-images1/blob/master/clipped-section-dog.webp?raw=true);
}

.bg-health {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-health-light, 0.8),
      rgba($color-health-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal-images1/blob/master/health-pomerania-1.webp?raw=true);
}

.bg-food {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-food-light, 0.8),
      rgba($color-food-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal-images1/blob/master/destacados-extra.webp?raw=true);
}

.bg-train {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-training-light, 0.8),
      rgba($color-training-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal-images1/blob/master/destacados-extra.webp?raw=true);
}

.bg-default {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-extra-light, 0.8),
      rgba($color-extra-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal-images1/blob/master/destacados-extra.webp?raw=true);
}

.skew-up {
  transform: skewY(-3deg);

  & > * {
    transform: skewY(3deg);
  }
}

.skew-down {
  transform: skewY(3deg);

  & > * {
    transform: skewY(-3deg);
  }
}

.skew-none {
  transform: skewY(0deg);

  & > * {
    transform: skewY(0deg);
  }
}
