@import "../../../theme/abstracts/mixins";
@import "../../../theme/abstracts/variables";

.section-clipped-with-bg-img {
  padding: 20rem 0;

  background-size: cover;
  margin-top: -10rem;

  @include respond(tab-port) {
      padding: 10rem 0;
  }

}

.bg-cat {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-secondary-light, 0.8),
      rgba($color-secondary-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal/blob/master/images/clipped-section-cat.webp?raw=true);
}

.bg-dog {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-tertiary-light, 0.8),
      rgba($color-tertiary-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal/blob/master/images/clipped-section-dog.webp?raw=true);
}

.bg-default {
  background-image: linear-gradient(
      to right bottom,
      rgba($color-primary-light, 0.8),
      rgba($color-primary-dark, 0.8)),
  url(https://github.com/Totoblak90/miamigoanimal/blob/master/images/destacados-extra.webp?raw=true);
}

.skew-up {
  transform: skewY(-3deg);

  & > * {
    transform: skewY(3deg);
  }
}

.skew-down {
  transform: skewY(3deg);

  & > * {
    transform: skewY(-3deg);
  }
}

.skew-none {
  transform: skewY(0deg);

  & > * {
    transform: skewY(0deg);
  }
}
