<section class="section-highlited" id="section-tours">

  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          Artículos destacados
      </h2>
  </div>

  <div class="row u-margin-bottom-big">

    <div class="col-1-of-3">
      <flipping-card cardTitle="Razas populares" [topics]="['Para compañía', 'Para familias', 'Para departamentos', 'Para adiestramiento', 'Longitud: +1500 palabras']" type="dog" href="conoce-las-mejores-razas-de-perros-guia-completa-y-actualizada">
      </flipping-card>
    </div>

    <div class="col-1-of-3">
      <flipping-card cardTitle="Adopción" [topics]="['Beneficios', '¿Como?', 'Pasos', 'Requisitos', 'Longitud: +1500 palabras']" type="cat" href="adopta-a-los-gatitos-mas-tiernos-y-juguetones-encuentra-tu-companero-felino-ideal"></flipping-card>
    </div>

    <div class="col-1-of-3">
      <flipping-card cardTitle="Variedad" [topics]="['Alimentacion', 'Ejercicio', 'Salud', 'Higiene', 'Longitud: +1500 palabras']" type="dog"></flipping-card>
    </div>


  </div>

  <div class="row u-margin-bottom-big">
    <div class="col-1-of-3">
      <flipping-card
            cardTitle="Variedad"
            [topics]="['Como elegir la raza adecuada', 'Salud', 'Adiestramiento y socialización', 'Consejos para viajes', 'Longitud: +1500 palabras']"
            type="dog"
      ></flipping-card>
    </div>

    <div class="col-1-of-3">
      <flipping-card cardTitle="Variedad" [topics]="['Historia', 'Razas', 'Salud', 'Alimentación', 'Longitud: +1500 palabras']" type="cat"></flipping-card>
    </div>


    <div class="col-1-of-3">
      <flipping-card cardTitle="Variedad" [topics]="['Razas populares', 'Consejos perro nuevo', 'Pug Carlino', 'Longitud: +1500 palabras']" type="dog"></flipping-card>
    </div>


  </div>

</section>
