<div class="navigation">
  <input #naviToggle type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background" [ngClass]="navigationBgGradient">&nbsp;</div>

  <nav class="navigation__nav">
      <ul class="navigation__list">
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/home" class="navigation__link"><span>01</span>Inicio</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/perros" class="navigation__link"><span>02</span>Perros</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/gatos" class="navigation__link"><span>03</span>Gatos</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/alimentacion" class="navigation__link"><span>04</span>Alimentacion</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/salud" class="navigation__link"><span>05</span>Salud</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/adiestramiento" class="navigation__link"><span>06</span>Adiestramiento</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/sobre-mi" class="navigation__link"><span>07</span>Sobre mi</button></li>
          <li class="navigation__item"><button (click)="naviToggle.click()" routerLink="/post/search-post" class="navigation__link"><span>08</span>Buscador</button></li>
        </ul>
  </nav>
</div>
