<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background">&nbsp;</div>

  <nav class="navigation__nav">
      <ul class="navigation__list">
          <li class="navigation__item"><a href="/" class="navigation__link"><span>01</span>Inicio</a></li>
          <li class="navigation__item"><a href="/perros" class="navigation__link"><span>02</span>Perros</a></li>
          <li class="navigation__item"><a href="/gatos" class="navigation__link"><span>03</span>Gatos</a></li>
          <li class="navigation__item"><a href="/alimentacion" class="navigation__link"><span>04</span>Alimentacion</a></li>
          <li class="navigation__item"><a href="/salud" class="navigation__link"><span>05</span>Salud</a></li>
          <li class="navigation__item"><a href="/adiestramiento" class="navigation__link"><span>06</span>Adiestramiento</a></li>
          <li class="navigation__item"><a href="/sobre-mi" class="navigation__link"><span>07</span>Sobre mi</a></li>
          </ul>
  </nav>
</div>
