<div class="navigation">
  <input type="checkbox" class="navigation__checkbox" id="navi-toggle">

  <label for="navi-toggle" class="navigation__button">
      <span class="navigation__icon">&nbsp;</span>
  </label>

  <div class="navigation__background" [ngClass]="navigationBgGradient">&nbsp;</div>

  <nav class="navigation__nav">
      <ul class="navigation__list">
          <li class="navigation__item"><label for="navi-toggle" routerLink="/home" class="navigation__link"><span>01</span>Inicio</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/perros" class="navigation__link"><span>02</span>Perros</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/gatos" class="navigation__link"><span>03</span>Gatos</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/alimentacion" class="navigation__link"><span>04</span>Alimentacion</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/salud" class="navigation__link"><span>05</span>Salud</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/adiestramiento" class="navigation__link"><span>06</span>Adiestramiento</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/sobre-mi" class="navigation__link"><span>07</span>Sobre mi</label></li>
          <li class="navigation__item"><label for="navi-toggle" routerLink="/post/search-post" class="navigation__link"><span>08</span>Buscador</label></li>
        </ul>
  </nav>
</div>
