<section class="section-stories">
  <bg-video videoSrc="../../../assets/testimonios-fondo.mp4"></bg-video>

  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          Testimonios
      </h2>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="https://github.com/Totoblak90/miamigoanimal/blob/master/images/recomendacion-1.jpg?raw=true" alt="Persona parada de perfil con un buzo y anteojos de sol" class="story__img">
              <figcaption class="story__caption">Cristian Rios</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">Un Tesoro para Amantes de las Mascotas</h3>
              <p>
                Como amante de las mascotas, 'Mi Amigo Animal' se ha convertido en mi guía esencial.
                Cada artículo está repleto de consejos útiles y prácticos, y la pasión por los animales realmente brilla.
                Sin duda, un blog imprescindible para todos los que amamos a nuestros amigos peludos.
              </p>
          </div>
      </div>
  </div>

  <div class="row">
      <div class="story">
          <figure class="story__shape">
              <img src="https://github.com/Totoblak90/miamigoanimal/blob/master/images/recomendacion-2.jpg?raw=true" alt="Person on a tour" class="story__img">
              <figcaption class="story__caption">Santiago Gisbert</figcaption>
          </figure>
          <div class="story__text">
              <h3 class="heading-tertiary u-margin-bottom-small">La Mejor Fuente de Sabiduría Animal</h3>
              <p>
                Descubrí 'Mi Amigo Animal' hace unos meses, y desde entonces ha sido mi recurso favorito para todo lo relacionado con mis mascotas.
                Los artículos son fáciles de entender, informativos y muy útiles. Me ha ayudado a entender y cuidar mejor a mis queridos animales.
                ¡Gracias!
              </p>
          </div>
      </div>
  </div>

  <!-- <div class="u-center-text u-margin-top-huge">
      <a href="#" class="btn-text">Read all stories &rarr;</a>
  </div> -->
</section>
