<section class="section-stories u-margin-bottom-big">
  <bg-video videoSrc="http://34.36.69.199/testimonios-fondo.mp4"></bg-video>

  <div class="u-center-text u-margin-bottom-big">
      <h2 class="heading-secondary">
          Testimonios
      </h2>
  </div>

  <div class="row">
    <testimonial-card
      name="Cristian Rios"
      title="Un Tesoro para Amantes de las Mascotas"
      description=" Como amante de las mascotas, 'Mi Amigo Animal' se ha convertido en mi guía esencial.
                    Cada artículo está repleto de consejos útiles y prácticos, y la pasión por los animales realmente brilla.
                    Sin duda, un blog imprescindible para todos los que amamos a nuestros amigos peludos."
      image="http://34.36.69.199/recomendacion-1.webp"
    ></testimonial-card>
  </div>

  <div class="row">
    <testimonial-card
      name="Santiago Gisbert"
      title="La Mejor Fuente de Sabiduría Animal"
      description=" Descubrí 'Mi Amigo Animal' hace unos meses, y desde entonces ha sido mi recurso favorito para todo lo relacionado con mis mascotas.
                    Los artículos son fáciles de entender, informativos y muy útiles. Me ha ayudado a entender y cuidar mejor a mis queridos animales.
                    ¡Gracias!"
      image="http://34.36.69.199/recomendacion-2.webp"
    ></testimonial-card>
  </div>

  <!-- <div class="u-center-text u-margin-top-huge">
      <a href="#" class="btn-text">Read all stories &rarr;</a>
  </div> -->
</section>
