<div class="card">
  <div class="card__side card__side--front">
       <div [class]="'card__picture card__picture--' + type">
           &nbsp;
       </div>
       <h4 class="card__heading">
           <span [class]="'card__heading-span card__heading-span--' + type">{{ cardTitle }}</span>
       </h4>
       <div class="card__details">
           <ul>
               <li *ngFor="let topic of topics">{{ topic }}</li>
           </ul>
       </div>
  </div>
  <div [class]="'card__side card__side--back card__side--back-' + type">
       <div class="card__cta">
           <a href="#popup" class="btn btn--white">Ver!</a>
       </div>
   </div>
</div>
