<div class="card">
  <div class="card__side card__side--front">
       <div class="card__picture" [style.background-image]="selectedImage">
           &nbsp;
       </div>
       <p class="card__heading">
           <span [class]="'card__heading-span card__heading-span--' + type">{{ cardTitle }}</span>
       </p>
       <div class="card__details">
           <ul #scrollContainer class="no-scrollbar">
               <li *ngFor="let topic of topics">{{ topic | titlecase }}</li>
           </ul>
       </div>
  </div>
  <div [class]="'card__side card__side--back card__side--back-' + type">
       <div class="card__cta">
           <a *ngIf="href" [routerLink]="redirection" [queryParams]="queryParams" class="btn btn--white">Ver!</a>
       </div>
   </div>
</div>
