<app-header mainTitle="Gatos"
            secondaryTitle="Descubre el Fascinante Mundo Felino"
            bckColour="cat"></app-header>

<main class="separate-section">

  <div class="row">
    <div class="u-center-text">
      <h2 class="heading-secondary u-margin-bottom-medium">¿Amante de los gatos? Navega por nuestra extensa biblioteca de artículos y recursos. Conviértete en el dueño que tu gato necesita</h2>
      <p class="paragraph">
        Los gatos son animales maravillosos y enigmáticos, conocidos por su independencia y sus graciosas personalidades.
        Como mascotas, proporcionan una compañía tranquila y afectuosa, y su presencia puede aportar mucha alegría y confort a nuestros hogares.
        Aunque son conocidos por ser autónomos, también requieren atención y cuidados para mantener una vida feliz y saludable.
        A continuación, exploraremos aspectos esenciales como el adiestramiento, la alimentación y la salud para ayudarte a cuidar a tu amigo felino de la mejor manera posible.
      </p>
    </div>
  </div>

  <cat-list></cat-list>
  <cat-info></cat-info>
</main>
