<app-header mainTitle="Gatos"
            secondaryTitle="Descubre el Fascinante Mundo Felino"
            bckColour="cat"></app-header>

<main>

  <div class="u-center-text u-margin-bottom-big">
    <h2 class="heading-secondary">¿Amante de los gatos? Navega por nuestra extensa biblioteca de artículos y recursos. Conviértete en el dueño que tu gato necesita</h2>
  </div>

  <div class="row">
    <p class="paragraph">
      Los gatos son animales maravillosos y enigmáticos, conocidos por su independencia y sus graciosas personalidades.
      Como mascotas, proporcionan una compañía tranquila y afectuosa, y su presencia puede aportar mucha alegría y confort a nuestros hogares.
      Aunque son conocidos por ser autónomos, también requieren atención y cuidados para mantener una vida feliz y saludable.
      A continuación, exploraremos aspectos esenciales como el adiestramiento, la alimentación y la salud para ayudarte a cuidar a tu amigo felino de la mejor manera posible.
    </p>
  </div>

  <cat-list></cat-list>
  <cat-info></cat-info>
</main>
